In [1]:
import pandas as pd
import os

In [2]:
os.chdir('C:/Users/shjo/Desktop/AI Hub/데이터 통합(수정)')

### 데이터 로드

#### pandas 사용

In [ ]:
utterance_type_df = pd.read_csv('C:/Users/shjo/Desktop/AI Hub/데이터 통합/발화유형(문어,구어,채팅)별_기계번역_병렬_말뭉치_01.데이터.csv')
specialty_df = pd.read_csv('C:/Users/shjo/Desktop/AI Hub/데이터 통합/전문분야_한영_말뭉치.csv')
ko_en_trans_df = pd.read_csv('C:/Users/shjo/Desktop/AI Hub/데이터 통합/한국어-영어_번역(병렬)_말뭉치.csv')
everyday_life_df = pd.read_csv('C:/Users/shjo/Desktop/AI Hub/데이터 통합/일상생활_및_구어체_한-영_번역_병렬_말뭉치_데이터.csv')
science_df = pd.read_csv('C:/Users/shjo/Desktop/AI Hub/데이터 통합/기술과학_분야_한-영_번역_병렬_말뭉치_데이터.csv')
food_df = pd.read_csv('C:/Users/shjo/Desktop/AI Hub/데이터 통합/전문분야_영-한,_중-한_번역_말뭉치(식품).csv')
contents_df = pd.read_csv('C:/Users/shjo/Desktop/AI Hub/데이터 통합/방송콘텐츠_한국어-영어_번역_말뭉치.csv')

In [ ]:
# column 정리

In [ ]:
# utterance_type_df = utterance_type_df[['sn', 'data_set', 'source', 'target', 'file_name', 'source_language', 'target_language']]
# specialty_df = specialty_df[['sid', 'dataset_name', 'source', 'target', 'file_path', 'source_language', 'target_language']]
# ko_en_trans_df = ko_en_trans_df[['sn', 'data_set', 'source', 'target', 'file_path', 'source_language', 'target_language']]
# everyday_life_df = everyday_life_df[['sn', 'data_set', 'source', 'target', 'file_path', 'source_language', 'target_language']]
# science_df = science_df[['sn', 'data_set', 'source', 'target', 'file_path', 'source_language', 'target_language']]
# food_df = food_df[['sn', 'data_set', 'source', 'target', 'file_path', 'source_language', 'target_language']]
# contents_df = contents_df[['sn', 'dataset', 'source', 'target', 'file_name', 'source_language', 'target_language']]

In [ ]:
# specialty_df = specialty_df.rename(columns={'sid':'sn','dataset_name':'data_set','file_path':'file_name'})
# ko_en_trans_df = ko_en_trans_df.rename(columns={'file_path':'file_name'})
# everyday_life_df = everyday_life_df.rename(columns={'file_path':'file_name'})
# science_df = science_df.rename(columns={'file_path':'file_name'})
# food_df = food_df.rename(columns={'file_path':'file_name'})
# contents_df = contents_df.rename(columns={'dataset':'data_set'})

In [ ]:
specialty_df.rename(columns={'sid':'sn','dataset_name':'data_set','file_path':'file_name'}, inplace=True)
ko_en_trans_df.rename(columns={'file_path':'file_name'}, inplace=True)
everyday_life_df.rename(columns={'file_path':'file_name'}, inplace=True)
science_df.rename(columns={'file_path':'file_name'}, inplace=True)
food_df.rename(columns={'file_path':'file_name'}, inplace=True)
contents_df.rename(columns={'dataset':'data_set'}, inplace=True)

In [ ]:
utterance_type_df = utterance_type_df.reindex(columns=['sn', 'data_set', 'source', 'target', 'file_name', 'source_language', 'target_language'])
specialty_df = specialty_df.reindex(columns=['sn', 'data_set', 'source', 'target', 'file_name', 'source_language', 'target_language'])
ko_en_trans_df = ko_en_trans_df.reindex(columns=['sn', 'data_set', 'source', 'target', 'file_name', 'source_language', 'target_language'])
everyday_life_df = everyday_life_df.reindex(columns=['sn', 'data_set', 'source', 'target', 'file_name', 'source_language', 'target_language'])
science_df = science_df.reindex(columns=['sn', 'data_set', 'source', 'target', 'file_name', 'source_language', 'target_language'])
food_df = food_df.reindex(columns=['sn', 'data_set', 'source', 'target', 'file_name', 'source_language', 'target_language'])
contents_df = contents_df.reindex(columns=['sn', 'data_set', 'source', 'target', 'file_name', 'source_language', 'target_language'])

In [ ]:
utterance_type_df.to_csv('발화유형(문어,구어,채팅)별_기계번역_병렬_말뭉치_01.데이터.csv', index = False)
specialty_df.to_csv('전문분야_한영_말뭉치.csv', index = False)
ko_en_trans_df.to_csv('한국어-영어_번역(병렬)_말뭉치.csv', index = False)
everyday_life_df.to_csv('일상생활_및_구어체_한-영_번역_병렬_말뭉치_데이터.csv', index = False)
science_df.to_csv('기술과학_분야_한-영_번역_병렬_말뭉치_데이터.csv', index = False)
food_df.to_csv('전문분야_영-한,_중-한_번역_말뭉치(식품).csv', index = False)
contents_df.to_csv('방송콘텐츠_한국어-영어_번역_말뭉치.csv', index = False)

In [ ]:
# column 정리 된 버전 로드
utterance_type_df = pd.read_csv('발화유형(문어,구어,채팅)별_기계번역_병렬_말뭉치_01.데이터.csv')
specialty_df = pd.read_csv('전문분야_한영_말뭉치.csv')
ko_en_trans_df = pd.read_csv('한국어-영어_번역(병렬)_말뭉치.csv')
everyday_life_df = pd.read_csv('일상생활_및_구어체_한-영_번역_병렬_말뭉치_데이터.csv')
science_df = pd.read_csv('기술과학_분야_한-영_번역_병렬_말뭉치_데이터.csv')
food_df = pd.read_csv('전문분야_영-한,_중-한_번역_말뭉치(식품).csv')
contents_df = pd.read_csv('방송콘텐츠_한국어-영어_번역_말뭉치.csv')

#### common 데이터 csv파일 저장

In [22]:
ko_en_list = glob.glob('C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치/**')
ko_en_list

['C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\1_구어체(1).xlsx',
 'C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\1_구어체(2).xlsx',
 'C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\2_대화체.xlsx',
 'C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\3_문어체_뉴스(1)_200226.xlsx',
 'C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\3_문어체_뉴스(2).xlsx',
 'C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\3_문어체_뉴스(3).xlsx',
 'C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\3_문어체_뉴스(4).xlsx',
 'C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\4_문어체_한국문화.xlsx',
 'C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\5_문어체_조례.xlsx',
 'C:/Users/shjo/Desktop/AI Hub/한국어-영어 번역(병렬) 말뭉치\\6_문어체_지자체웹사이트.xlsx']

In [32]:
ko_en_trans_df = pd.read_excel(ko_en_list[2])
ko_en_trans_df

,대분류,소분류,상황,Set Nr.,발화자,원문,번역문
0,비즈니스,회의,의견 교환하기,1,A-1,이번 신제품 출시에 대한 시장의 반응은 어떤가요?,How is the market's reaction to the newly rele...
1,비즈니스,회의,의견 교환하기,1,B-1,판매량이 지난번 제품보다 빠르게 늘고 있습니다.,The sales increase is faster than the previous...
2,비즈니스,회의,의견 교환하기,1,A-2,그렇다면 공장에 연락해서 주문량을 더 늘려야겠네요.,"Then, we'll have to call the manufacturer and ..."
3,비즈니스,회의,의견 교환하기,1,B-2,"네, 제가 연락해서 주문량을 2배로 늘리겠습니다.","Sure, I'll make a call and double the volume o..."
4,비즈니스,회의,의견 교환하기,2,A-1,지난 회의 마지막에 논의했던 안건을 다시 볼까요?,Shall we take a look at the issues we discusse...
...,...,...,...,...,...,...,...
99995,여행/쇼핑,쇼핑,"계산/포장/배달 (계산 장소 문의, 계산 오류 등)",24999,B-2,"저희가 가격표 배치를 잘못해서 혼동을 드렸나 봐요, 죄송해요.",It seems that we didn't place the price tags c...
99996,여행/쇼핑,쇼핑,"계산/포장/배달 (계산 장소 문의, 계산 오류 등)",25000,A-1,"백화점 포인트로 계산하고 싶은데, 가능한가요?",Can I pay using the department store points?
99997,여행/쇼핑,쇼핑,"계산/포장/배달 (계산 장소 문의, 계산 오류 등)",25000,B-1,"네, 물론이죠, 전화번호 입력해주시면 됩니다.","Yes, of course, you just need to enter your ph..."
99998,여행/쇼핑,쇼핑,"계산/포장/배달 (계산 장소 문의, 계산 오류 등)",25000,A-2,"입력했어요, 전액 백화점 포인트로 결제하고 싶어요.","I entered it, I want to pay it with all the de..."
99999,여행/쇼핑,쇼핑,"계산/포장/배달 (계산 장소 문의, 계산 오류 등)",25000,B-2,"죄송하지만 포인트 제외한 차액 15,000원은 따로 결제해주셔야 합니다.","I'm sorry, but you need to make a separate pay..."

In [ ]:
sample_data = pd.DataFrame()
for f in sample_list:
    with open(f,'r',encoding="utf-8") as file:
        data = json.load(file)
    pd_df = pd.DataFrame(data['data'])
    sample_data = pd.concat([sample_data, pd_df])

#### pyspark 사용

In [85]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.functions import col
import pandas as pd
from pyspark.sql.types import IntegerType, StringType, DoubleType
from pyspark.context import SparkContext

In [ ]:
spark = SparkSession.builder \
    .appName("Loading CSV Files Separately") \
    .getOrCreate()

# Define the path to each CSV file
utterance_type_csv_path = 'C:/Users/shjo/Desktop/AI Hub/데이터 통합/발화유형(문어,구어,채팅)별_기계번역_병렬_말뭉치_01.데이터.csv'
specialty_csv_path = 'C:/Users/shjo/Desktop/AI Hub/데이터 통합/전문분야_한영_말뭉치.csv'
ko_en_trans_csv_path = 'C:/Users/shjo/Desktop/AI Hub/데이터 통합/한국어-영어_번역(병렬)_말뭉치.csv'
everyday_life_csv_path = 'C:/Users/shjo/Desktop/AI Hub/데이터 통합/일상생활_및_구어체_한-영_번역_병렬_말뭉치_데이터.csv'
science_csv_path = 'C:/Users/shjo/Desktop/AI Hub/데이터 통합/기술과학_분야_한-영_번역_병렬_말뭉치_데이터.csv'
food_csv_path = 'C:/Users/shjo/Desktop/AI Hub/데이터 통합/전문분야_영-한,_중-한_번역_말뭉치(식품).csv'
contents_csv_path = 'C:/Users/shjo/Desktop/AI Hub/데이터 통합/방송콘텐츠_한국어-영어_번역_말뭉치.csv'

# 처음 버전 "" 인용문이 있는 경우 각 column에 제대로 된 값이 배정되지 않음
# # Load each CSV file into separate DataFrames
# utterance_type_df = spark.read.option("header", "true").option("inferSchema", "true").csv(utterance_type_csv_path)
# specialty_df = spark.read.option("header", "true").option("inferSchema", "true").option("setp", "\t").csv(specialty_csv_path)
# ko_en_trans_df = spark.read.option("header", "true").option("inferSchema", "true").csv(ko_en_trans_csv_path)
# everyday_life_df = spark.read.option("header", "true").option("inferSchema", "true").csv(everyday_life_csv_path)
# science_df = spark.read.option("header", "true").option("inferSchema", "true").csv(science_csv_path)
# food_df = spark.read.option("header", "true").option("inferSchema", "true").csv(food_csv_path)
# contents_df = spark.read.option("header", "true").option("inferSchema", "true").csv(contents_csv_path)

utterance_type_df = spark.read.option("header", "true").option("quote", "\"").option("escape", "\"").option("multiline", "true").csv(utterance_type_csv_path)
specialty_df = spark.read.option("header", "true").option("quote", "\"").option("escape", "\"").option("multiline", "true").csv(specialty_csv_path)
ko_en_trans_df = spark.read.option("header", "true").option("quote", "\"").option("escape", "\"").option("multiline", "true").csv(ko_en_trans_csv_path)
everyday_life_df = spark.read.option("header", "true").option("quote", "\"").option("escape", "\"").option("multiline", "true").csv(everyday_life_csv_path)
science_df = spark.read.option("header", "true").option("quote", "\"").option("escape", "\"").option("multiline", "true").csv(science_csv_path)
food_df = spark.read.option("header", "true").option("quote", "\"").option("escape", "\"").option("multiline", "true").csv(food_csv_path)
contents_df = spark.read.option("header", "true").option("quote", "\"").option("escape", "\"").option("multiline", "true").csv(contents_csv_path)

In [86]:
# option 대신 oprions 사용
spark = SparkSession.builder \
    .appName("Loading CSV Files Separately") \
    .getOrCreate()
utterance_type_csv_path = 'C:/Users/shjo/Desktop/AI Hub/데이터 통합/발화유형(문어,구어,채팅)별_기계번역_병렬_말뭉치_01.데이터.csv'
utterance_type_df = spark.read.options(header = True,quote= "\"",escape="\"",multiline=True).csv(utterance_type_csv_path)

In [ ]:
# column 정리

In [ ]:
utterance_type_column_order = ['sn', 'data_set', 'source', 'target', 'file_name', 'source_language', 'target_language']
specialty_column_order = ['sid', 'dataset_name', 'source', 'target', 'file_path', 'source_language', 'target_language']
ko_en_trans_column_order = ['sn', 'data_set', 'source', 'target', 'file_path', 'source_language', 'target_language']
everyday_life_column_order = ['sn', 'data_set', 'source', 'target', 'file_path', 'source_language', 'target_language']
science_column_order = ['sn', 'data_set', 'source', 'target', 'file_path', 'source_language', 'target_language']
food_column_order = ['sn', 'data_set', 'source', 'target', 'file_path', 'source_language', 'target_language']
contents_column_order = ['sn', 'dataset', 'source', 'target', 'file_name', 'source_language', 'target_language']

In [ ]:
utterance_type_df = utterance_type_df.select(*utterance_type_column_order)
specialty_df = specialty_df.select(*specialty_column_order).withColumnRenamed('sid','sn').withColumnRenamed('dataset_name','data_set')
ko_en_trans_df = ko_en_trans_df.select(*ko_en_trans_column_order)
everyday_life_df = everyday_life_df.select(*everyday_life_column_order)
science_df = science_df.select(*science_column_order)
food_df = food_df.select(*food_column_order)
contents_df = contents_df.select(*contents_column_order).withColumnRenamed('dataset','data_set')

In [ ]:
raws = specialty_df.take(20)

In [ ]:
specialty_df.show()

#### pandas DataFrame

In [ ]:
utterance_type_df

In [ ]:
specialty_df

In [ ]:
ko_en_trans_df

In [ ]:
everyday_life_df

In [ ]:
science_df

In [ ]:
food_df

In [ ]:
contents_df

In [ ]:
# 구어체 분류 및 데이터 확인

In [ ]:
ko_en_trans_df.file_path.unique()

### 중복 확인

In [ ]:
dataset_list = [utterance_type_df, specialty_df ,ko_en_trans_df ,everyday_life_df ,science_df ,food_df ,contents_df]

In [ ]:
for f in dataset_list:
    print(len(f))

In [ ]:
for f in dataset_list:
    print(len(f[f.source.duplicated(keep=False)]))

In [ ]:
len(utterance_type_df[utterance_type_df.source.duplicated(keep=False)].sort_values(by='source'))

#### pyspark 활용

In [ ]:
for f in dataset_list:
    print(f.count())

In [ ]:
specialty_df.printSchema()

In [ ]:
for f in dataset_list:
    duplicated_count = f.groupBy('source').count()
    print(duplicated_count)

In [ ]:
grouped_df = specialty_df.groupBy('source').count()

In [ ]:
duplicate_df = grouped_df.filter(col('count') > 1)
duplicate_df.show()

### 전체 데이터셋 탐색 및 통계치

In [3]:
utterance_type_df_raw = pd.read_csv('발화유형(문어,구어,채팅)별_기계번역_병렬_말뭉치_01.데이터.csv')
specialty_df_raw = pd.read_csv('전문분야_한영_말뭉치.csv')
ko_en_trans_df_raw = pd.read_csv('한국어-영어_번역(병렬)_말뭉치.csv')
everyday_life_df_raw = pd.read_csv('일상생활_및_구어체_한-영_번역_병렬_말뭉치_데이터.csv')
science_df_raw = pd.read_csv('기술과학_분야_한-영_번역_병렬_말뭉치_데이터.csv')
food_df_raw = pd.read_csv('전문분야_영-한,_중-한_번역_말뭉치(식품).csv')
contents_df_raw = pd.read_csv('방송콘텐츠_한국어-영어_번역_말뭉치.csv')

In [4]:
import copy

utterance_type_df = copy.deepcopy(utterance_type_df_raw) 
specialty_df = copy.deepcopy(specialty_df_raw) 
ko_en_trans_df = copy.deepcopy(ko_en_trans_df_raw) 
everyday_life_df = copy.deepcopy(everyday_life_df_raw) 
science_df = copy.deepcopy(science_df_raw) 
food_df = copy.deepcopy(food_df_raw) 
contents_df = copy.deepcopy(contents_df_raw)

# 임시로 utterance_type_df의 결측값 제거
utterance_type_df.dropna(subset=['target'], inplace=True)
utterance_type_df.reset_index(drop=True, inplace=True)

In [5]:
dataset_list = [utterance_type_df, specialty_df ,ko_en_trans_df ,everyday_life_df ,science_df ,food_df ,contents_df]

In [6]:
utterance_type_df.Name = 'utterance_type_df'
specialty_df.Name = 'specialty_df'
ko_en_trans_df.Name = 'ko_en_trans_df'
everyday_life_df.Name = 'everyday_life_df'
science_df.Name = 'science_df'
food_df.Name = 'food_df'
contents_df.Name = 'contents_df'

In [50]:
data_count = []
for f in dataset_list:
    data_count.append(len(f))

In [51]:
data_count

[27002, 1350000, 1602418, 2700345, 1350162, 1350000, 587084]

In [ ]:
utterance_type_df.file_name.unique()

In [ ]:
# 발화 유형 데이터, domain, style 추가 데이터

In [ ]:
len(utterance_type_df.file_name.unique())

In [39]:
import re

In [24]:
def extract_domain_style(filename):
    pattern = r'([A-Z]{2})_([A-Z]{2})'
    matches = re.findall(pattern, filename)
    if matches:
        style, domain = matches[0]
        return pd.Series([style, domain], index=['style_type', 'domain'])
    else:
        return pd.Series([None, None], index=['style_type', 'domain'])

In [11]:
utterance_type_df = utterance_type_df.join(utterance_type_df['file_name'].apply(extract_domain_style))

In [14]:
utterance_type_df.to_csv('발화유형(문어,구어,채팅)별_기계번역_병렬_말뭉치_01.데이터_rv.csv', index = False)

In [27]:
utterance_type_df_rv = pd.read_csv('발화유형(문어,구어,채팅)별_기계번역_병렬_말뭉치_01.데이터_rv.csv')

In [ ]:
# 구어체 비율

In [28]:
utterance_type_df_rv.style_type.value_counts()

CH    9007
WR    9000
SP    8995
Name: style_type, dtype: int64

In [ ]:
# '발화유형(문어,구어,채팅)별_기계번역_병렬_말뭉치_01.데이터.csv' CH : 9007, SP : 8995, 총 데이터:27002
# '전문분야_한영_말뭉치.csv' X 총 데이터:1350000
# '한국어-영어_번역(병렬)_말뭉치.csv' 구어체: 400000, 대화체: 100000 총 데이터:1602418
# '일상생활_및_구어체_한-영_번역_병렬_말뭉치_데이터.csv' 해외영업:1260367, 일상생활:899757, 해외고객과의채팅:540221, 총 데이터:2700345
# '기술과학_분야_한-영_번역_병렬_말뭉치_데이터.csv' X 총 데이터:1350162
# '전문분야_영-한,_중-한_번역_말뭉치(식품).csv' X 총 데이터:1350000
# '방송콘텐츠_한국어-영어_번역_말뭉치.csv' 총 데이터:587084

In [ ]:
# '한국어-영어_번역(병렬)_말뭉치.csv'

In [30]:
ko_en_trans_df.file_name.unique()

array(['/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/3_문어체_뉴스(2).xlsx',
       '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/1_구어체(1).xlsx',
       '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/4_문어체_한국문화.xlsx',
       '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/2_대화체.xlsx',
       '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/1_구어체(2).xlsx',
       '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/5_문어체_조례.xlsx',
       '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/6_문어체_지자체웹사이트.xlsx',
       '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/3_문어체_뉴스(4).xlsx',
       '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/3_문어체_뉴스(3).xlsx',
       '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/3_문어체_뉴스(1)_200226.xlsx'],
      dtype=object)

In [37]:
filter_list = ['/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/1_구어체(1).xlsx', '/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/1_구어체(2).xlsx']

In [38]:
len(ko_en_trans_df[ko_en_trans_df.file_name.isin(filter_list)])

400000

In [40]:
len(ko_en_trans_df[ko_en_trans_df.file_name=='/home/ndpower/Data/AI_Hub/한국어-영어 번역(병렬) 말뭉치/2_대화체.xlsx'])

100000

In [ ]:
#'일상생활_및_구어체_한-영_번역_병렬_말뭉치_데이터.csv'

In [42]:
everyday_life_df.file_name.unique()

array(['/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/1.Training/라벨링데이터/일상생활및구어체_한영_train_set.json',
       '/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/1.Training/라벨링데이터/일상생활및구어체_영한_train_set.json',
       '/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/2.Validation/라벨링데이터/일상생활및구어체_영한_valid_set.json',
       '/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/2.Validation/라벨링데이터/일상생활및구어체_한영_valid_set.json'],
      dtype=object)

In [8]:
import glob
import json

In [76]:
sample_list = glob.glob('C:/Users/shjo/Desktop/AI Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/*/*/라벨링데이터/**')
sample_list

['C:/Users/shjo/Desktop/AI Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터\\01.데이터\\1.Training\\라벨링데이터\\일상생활및구어체_영한_train_set.json',
 'C:/Users/shjo/Desktop/AI Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터\\01.데이터\\1.Training\\라벨링데이터\\일상생활및구어체_한영_train_set.json',
 'C:/Users/shjo/Desktop/AI Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터\\01.데이터\\2.Validation\\라벨링데이터\\일상생활및구어체_영한_valid_set.json',
 'C:/Users/shjo/Desktop/AI Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터\\01.데이터\\2.Validation\\라벨링데이터\\일상생활및구어체_한영_valid_set.json']

In [77]:
sample_data = pd.DataFrame()
for f in sample_list:
    with open(f,'r',encoding="utf-8") as file:
        data = json.load(file)
    pd_df = pd.DataFrame(data['data'])
    sample_data = pd.concat([sample_data, pd_df])

In [78]:
sample_data.domain.value_counts()

해외영업        1260367
일상생활         899757
해외고객과의채팅     540221
Name: domain, dtype: int64

In [13]:
col = ['col1','col2','col3']
data = [['A','x','-'],['A','x','-'],['B','x','앞'],['B','y','-'],['B','y','뒤'],['x','A','-']]
df = pd.DataFrame(data=data, columns=col)
df

  col1 col2 col3
0    A    x    -
1    A    x    -
2    B    x    앞
3    B    y    -
4    B    y    뒤
5    x    A    -

In [14]:
print(df.drop_duplicates(subset=['col1','col2']))

  col1 col2 col3
0    A    x    -
2    B    x    앞
3    B    y    -
5    x    A    -

In [16]:
len(sample_data)

2700345

In [25]:
len(sample_data.drop_duplicates(subset=['ko','en']))

2486093

In [23]:
len(sample_data.drop_duplicates(subset='ko'))

2435082

In [18]:
sample_data.columns

Index(['sn', 'data_set', 'domain', 'subdomain', 'en_original', 'en', 'mt',
       'ko', 'source_language', 'target_language', 'word_count_ko',
       'word_count_en', 'word_ratio', 'file_name', 'source', 'license',
       'style', 'included_unknown_words', 'ner', 'ko_original'],
      dtype='object')

In [24]:
2700345-2435082

265263

In [26]:
2486093-2435082

51011

In [32]:
sample_data.duplicated(['ko']).sum()

265263

In [33]:
sample_data.duplicated(['ko','target_language']).sum()

206984

In [34]:
265263-206984

58279

In [36]:
sample_data.duplicated(['en']).sum()

345004

In [37]:
sample_data.duplicated(['en','target_language']).sum()

240995

In [40]:
sample_data.duplicated(['ko','en']).sum()

214252

In [39]:
265263+345004-214252-214252

181763

In [ ]:
# '방송콘텐츠_한국어-영어_번역_말뭉치.csv'

In [43]:
contents_df.file_name.value_counts()

./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_교양.json         81008
./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_연예공연.json       81002
./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_예능오락.json       80278
./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐.json         77665
./01.데이터/Training/02.라벨링데이터/TL_다국어-한국어_enko_기타.json         40398
./01.데이터/Training/02.라벨링데이터/TL_다국어-한국어_enko_영화드라마.json      40387
./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_인터뷰.json        40377
./01.데이터/Training/02.라벨링데이터/TL_다국어-한국어_enko_다큐교양.json       40341
./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_영화드라마.json      40197
./01.데이터/Validation/02.라벨링데이터/VL_한국어-다국어_koen_교양.json       10129
./01.데이터/Validation/02.라벨링데이터/VL_한국어-다국어_koen_연예공연.json     10125
./01.데이터/Validation/02.라벨링데이터/VL_한국어-다국어_koen_예능오락.json     10086
./01.데이터/Validation/02.라벨링데이터/VL_한국어-다국어_koen_다큐.json        9872
./01.데이터/Validation/02.라벨링데이터/VL_다국어-한국어_enko_기타.json        5050
./01.데이터/Validation/02.라벨링데이터/VL_다국어-한국어_enko_영화드라마.json     5049
./01.데이터/Validation/02.라벨링데이터/VL_한국어-다국어_koen_인터뷰.json       5048
./01.데이터/Validation/02.라벨링데이터/VL_다국어-한국어_enko_다큐교양.json      5043
./01.데이터/Validation/02.라벨링데이터/VL_한국어-다국어_koen_영화드라마.json     5029
Name: file_name, dtype: int64

In [47]:
contents_df[contents_df.file_name == './01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐.json']

,sn,data_set,source,target,file_name,source_language,target_language
121395,dc_k_000001,방송콘텐츠_한국어-영어_번역_말뭉치,'나는 이러한 가치를 가지고 있는 사람이야' 라는 것을 과시하는 행동이죠.,It's an act of showing off that 'I'm a person ...,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en
121396,dc_k_000002,방송콘텐츠_한국어-영어_번역_말뭉치,'사진을 찍을 수 없으면 하지 않는다'란 말이 있습니다.,"There is a saying, 'If you can't take a pictur...",./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en
121397,dc_k_000003,방송콘텐츠_한국어-영어_번역_말뭉치,'좋아요' 버튼의 개발자는 관심에 중독된 세상을 비판하며 페이스북을 떠났습니다.,The developer of the 'Like' button left Facebo...,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en
121398,dc_k_000005,방송콘텐츠_한국어-영어_번역_말뭉치,'좋아요'는 '좋아요'이기 때문에 중요한 것이 아니라 모든 것을 점수화시키고 모든 ...,"'Like' isn't important because it's 'Like', bu...",./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en
121399,dc_k_000006,방송콘텐츠_한국어-영어_번역_말뭉치,'좋아요'는 아무것도 아니라고 말하지만 우리는 모두 내가 '좋아요'를 얼마나 받았는...,We say we don't care about “Likes” but we all ...,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en
...,...,...,...,...,...,...,...
199055,dc_m_108484,방송콘텐츠_한국어-영어_번역_말뭉치,힘이 좋은 홍어가 바다로 떨어지지 않게 긴 창을 이용해 찍어 올린다.,Use a long spear to take the skate up to avoid...,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en
199056,dc_m_108485,방송콘텐츠_한국어-영어_번역_말뭉치,힘이 확 들어온다.,He feels the energy.,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en
199057,dc_m_108486,방송콘텐츠_한국어-영어_번역_말뭉치,힘차게 꽉 던져가지고 던진다음에 바로 땡기는거야,Throw it hard and pull it right after you thro...,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en
199058,dc_m_108488,방송콘텐츠_한국어-영어_번역_말뭉치,힘차게 떠오르는 남도 바다에 붉은 해가 떴다.,A red sun rose over the vigorously rising sea ...,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en
199059,dc_m_108490,방송콘텐츠_한국어-영어_번역_말뭉치,힘찬 투망으로 조업을 시작한다,They start fishing with a strong throwing of t...,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_다큐...,ko,en

In [45]:
len(contents_df)

587084

In [54]:
sum(data_count)

8967011

In [55]:
data_count

[27002, 1350000, 1602418, 2700345, 1350162, 1350000, 587084]

In [56]:
common_count_list =[2700345, 0, 0, 500000, 0, 18002, 587084]

In [57]:
sum(common_count_list)

3805431

In [58]:
sum(common_count_list)/sum(data_count)

0.42438121242407306

### 중복성 통계치

In [7]:
def duplicated_check(df):
    print("source만 중복: ",(df['source'].duplicated(keep=False) & ~df['target'].duplicated(keep=False)).sum()) 
    print("target만 중복: ",(df['target'].duplicated(keep=False) & ~df['source'].duplicated(keep=False)).sum())
    print("source와 target 쌍 중복: ",df.duplicated(['source','target'],keep=False).sum())
    drop_duplicate_1(df)
    df['ko'],df['en'] = zip(*df.apply(rearrange_values, axis=1))
    print("ko만 교차 중복: ",(df['ko'].duplicated(keep=False) & ~df['en'].duplicated(keep=False)).sum()) 
    print("en만 교차 중복: ",(df['en'].duplicated(keep=False) & ~df['ko'].duplicated(keep=False)).sum())
    print("ko와 en 쌍 교차 중복: ",df.duplicated(['ko','en'],keep=False).sum())

In [7]:
def rearrange_values(row):
    if row['source_language'] == 'ko':
        return row['source'], row['target']
    else:
        return row['target'], row['source']

In [9]:
def drop_duplicate_1(df):
    df.drop_duplicates(subset=['source'], keep='first', inplace = True)
    df.drop_duplicates(subset=['target'], keep='first', inplace = True)
    return df

In [26]:
def drop_duplicate_2(df):
    df.drop_duplicates(subset=['ko'], keep='first', inplace = True)
    df.drop_duplicates(subset=['en'], keep='first', inplace = True)
    df.drop(['ko', 'en'], axis=1, inplace=True)
    return df

In [11]:
def drop_duplicate_test(df):
    drop_duplicate_1(df)
    df['ko'],df['en'] = zip(*df.apply(rearrange_values, axis=1))
    drop_duplicate_2(df)
    df.drop(['ko', 'en'], axis=1, inplace=True)
    return df

In [82]:
drop_duplicate_test(everyday_life_df)
everyday_life_df

,sn,data_set,source,target,file_name,source_language,target_language
0,INTSALDSUT062119042703238,일상생활및구어체,원하시는 색상을 회신해 주시면 바로 제작 들어가겠습니다.,"If you reply to the color you want, we will st...",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
1,KTOS062012215152657,일상생활및구어체,형님 제일 웃긴 그림이 뭔지 알아요.,You know what the funniest picture is.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
2,KRSS062012215033840,일상생활및구어체,>속옷을?,>Underwear?,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
3,INTSALEGKG062119042674878,일상생활및구어체,그래도 가격이 꽤 비싸니까 많이 살게요.,I wont buy a lot though since the price is sti...,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
4,CUSCHADSUT062119042866224,일상생활및구어체,"AAA님, 제가 회의에서 화를 냈던 점 정말 사과드리고 싶습니다.","Dear AAA, I really want to apologize for my an...",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
...,...,...,...,...,...,...,...
2700334,KFDS062012215031711,일상생활및구어체,이게 투의 투야.,This is two of two.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
2700335,INTSALFNIN062119042601328,일상생활및구어체,곧 새 전철도 이 지역으로 뚫리고 상권도 점점 더 발달할 기미가 보입니다.,"Soon, the new subway will be opened to this ar...",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
2700336,INTSALDSUT0621190427238984,일상생활및구어체,2019년 8월 4일에 배송해주신 상품이 잘 도착했습니다.,"The product you delivered on August 4, 2019 ar...",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
2700338,CUSCHADSUT0621190428131932,일상생활및구어체,제 주문에 대한 선적 상황을 즉시 알려주시기 바랍니다.,Kindly notify me immediately regarding to the ...,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
2700342,CUSCHAEGKG062119042902716,일상생활및구어체,지진 연구와 관련하여 여러 회사와 접촉한 적이 있긴 한데요.,I've contacted several companies about earthqu...,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en

In [83]:
duplicated_check(everyday_life_df)

source만 중복:  0
target만 중복:  0
source와 target 쌍 중복:  0
ko만 교차 중복:  0
en만 교차 중복:  0
ko와 en 쌍 교차 중복:  0

In [33]:
for df in dataset_list:
    print(df.Name)
    print('총 데이터 수 : ', len(df))
    print('---------------------------')
    duplicated_check(df)
    print('---------------------------')
    print(len(drop_duplicate_2(df)))
    print('---------------------------')

utterance_type_df
총 데이터 수 :  27002
---------------------------
source만 중복:  34
target만 중복:  10
source와 target 쌍 중복:  4
ko만 교차 중복:  0
en만 교차 중복:  0
ko와 en 쌍 교차 중복:  0
---------------------------
26978
---------------------------
specialty_df
총 데이터 수 :  1350000
---------------------------
source만 중복:  2
target만 중복:  1253
source와 target 쌍 중복:  0
ko만 교차 중복:  0
en만 교차 중복:  0
ko와 en 쌍 교차 중복:  0
---------------------------
1349340
---------------------------
ko_en_trans_df
총 데이터 수 :  1602418
---------------------------
source만 중복:  697
target만 중복:  2426
source와 target 쌍 중복:  4988
ko만 교차 중복:  0
en만 교차 중복:  0
ko와 en 쌍 교차 중복:  0
---------------------------
1598330
---------------------------
everyday_life_df
총 데이터 수 :  2700345
---------------------------
source만 중복:  32670
target만 중복:  93477
source와 target 쌍 중복:  207887
ko만 교차 중복:  12996
en만 교차 중복:  106382
ko와 en 쌍 교차 중복:  98014
---------------------------
2321807
---------------------------
science_df
총 데이터 수 :  1350162
---------------------------
source만 중복:  46
target만 중복:  2
source와 target 쌍 중복:  88
ko만 교차 중복:  0
en만 교차 중복:  0
ko와 en 쌍 교차 중복:  0
---------------------------
1350094
---------------------------
food_df
총 데이터 수 :  1350000
---------------------------
source만 중복:  76
target만 중복:  2681
source와 target 쌍 중복:  20
ko만 교차 중복:  0
en만 교차 중복:  0
ko와 en 쌍 교차 중복:  0
---------------------------
1348602
---------------------------
contents_df
총 데이터 수 :  587084
---------------------------
source만 중복:  1165
target만 중복:  5578
source와 target 쌍 중복:  241
ko만 교차 중복:  49
en만 교차 중복:  365
ko와 en 쌍 교차 중복:  2
---------------------------
582645
---------------------------

In [59]:
utterance_type_df

,sn,data_set,source,target,file_name,source_language,target_language
0,100010-1376-1-6,기계번역 병렬 말뭉치 데이터,그래서 차라리 원인을 없애야겠다 싶어서 탈퇴하고 앱도 지웠어요.,"So I thought I should get rid of the cause, so...",ko-en_SP_ES_ko_en_100010-1376-1-6,ko,en
1,100010-1462-1-9,기계번역 병렬 말뭉치 데이터,일을 해야 돈을 벌고 그래야 생활할 수 있는데.,We need to work to earn money and to live.,ko-en_CH_ES_ko_en_100010-1462-1-9,ko,en
2,100013-350-1-10,기계번역 병렬 말뭉치 데이터,We've all had really great conversations.,우리 모두는 정말 좋은 대화를 나누었습니다.,en-ko_SP_ES_en_ko_100013-350-1-10,en,ko
3,100010-1703-1-8,기계번역 병렬 말뭉치 데이터,안 그래도 요즘 큐티클층이 많이 손상됐는지 머리가 부스스했는데 잘 됐다.,I'm not sure if the cuticle layer has been dam...,ko-en_CH_CA_ko_en_100010-1703-1-8,ko,en
4,100013-1202-1-11,기계번역 병렬 말뭉치 데이터,We're gonna probably be doing that closer to l...,아마도 출시가 가까워지면 할 것 같습니다.,en-ko_SP_CA_en_ko_100013-1202-1-11,en,ko
...,...,...,...,...,...,...,...
26997,100010-2423-1-10,기계번역 병렬 말뭉치 데이터,또한 오는 12월까지 계약 또는 출고 고객을 대상으로 추첨을 통해 추가 증정하는 경...,"In addition, there will be a giveaway event to...",ko-en_WR_ST_ko_en_100010-2423-1-10,ko,en
26998,100010-2197-1-2,기계번역 병렬 말뭉치 데이터,음식 조절하고 운동하면 콜레스테롤이랑 엘디엘 수치가 내려갈까요?,Will controlling diet and exercising lower my ...,ko-en_SP_SH_ko_en_100010-2197-1-2,ko,en
26999,100010-1776-1-2,기계번역 병렬 말뭉치 데이터,딸애는 엠비티아이 검사할 때 항상 같은 것만 나온다고 하더라고.,My daughter says the same result always comes ...,ko-en_CH_ES_ko_en_100010-1776-1-2,ko,en
27000,100013-28-1-10,기계번역 병렬 말뭉치 데이터,List the specific consequences of angry behavi...,살면서 사람들에게 화를 냈을 때의 구체적인 결과를 나열해보아라.,en-ko_WR_ES_en_ko_100013-28-1-10,en,ko
27001,100013-1057-1-4,기계번역 병렬 말뭉치 데이터,"I don’t have emotional support, but I’ll conti...",정서적인 지지을 받고 있지는 않지만 나는 계속 나 자신을 위해 싸울 거야.,en-ko_CH_SH_en_ko_100013-1057-1-4,en,ko

In [ ]:
#'일상생활_및_구어체_한-영_번역_병렬_말뭉치_데이터.csv'

In [65]:
everyday_life_df.duplicated(['source']).sum()

199778

In [66]:
everyday_life_df.duplicated(['target']).sum()

248201

In [65]:
everyday_life_df[everyday_life_df.duplicated(['source','target'],keep=False)].sort_values(by='source')

,sn,data_set,source,target,file_name,source_language,target_language
1184507,CUSCHADSUT062119042803653,일상생활및구어체,"""AAA"" 드림.",AAA Dream.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
578551,INTSALDSUT062119042719541,일상생활및구어체,"""AAA"" 드림.",AAA Dream.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
2563185,INTSALDSUT0621190427274912,일상생활및구어체,"""AAA야, 안녕?"" 이러면서요.","""Hi, AAA"". Like this.",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
41018,INTSALDSUT0621190427189420,일상생활및구어체,"""AAA야, 안녕?"" 이러면서요.","""Hi, AAA"". Like this.",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
1171210,INTSALJBTS062119042530600,일상생활및구어체,"""BBB2""가 자체개발한 야구 시뮬레이션 게임이며, 여러분이 직접 구단주가 되어 팀...","It's a baseball simulation game developed by ""...",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
...,...,...,...,...,...,...,...
739148,KTOS062012215154822,일상생활및구어체,힘이 없을 때는 경유 한방을.,"When you don't have enough energy, get fueled ...",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
124115,KTOS062012215135244,일상생활및구어체,힘이 좋아.,He's strong.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
134283,KTOS062012215135174,일상생활및구어체,힘이 좋아.,He's strong.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
698372,INTSALDSUT062119042768438,일상생활및구어체,힙을 폭 가려주는 여유 있는 루즈핏으로 체형 커버까지 완벽한 방한템 입니다.,It's a perfect roomy item with a loose fit tha...,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
415388,INTSALDSUT0621190427282039,일상생활및구어체,힙을 폭 가려주는 여유 있는 루즈핏으로 체형 커버까지 완벽한 방한템 입니다.,It's a perfect roomy item with a loose fit tha...,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en

In [72]:
everyday_life_df[everyday_life_df.duplicated(['source','target','file_name'],keep=False)].sort_values(by='source')

,sn,data_set,source,target,file_name,source_language,target_language
1184507,CUSCHADSUT062119042803653,일상생활및구어체,"""AAA"" 드림.",AAA Dream.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
578551,INTSALDSUT062119042719541,일상생활및구어체,"""AAA"" 드림.",AAA Dream.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
373640,INTSALJBTS062119042547210,일상생활및구어체,"""BBB2""가 자체개발한 야구 시뮬레이션 게임이며, 여러분이 직접 구단주가 되어 팀...","It's a baseball simulation game developed by ""...",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
1171210,INTSALJBTS062119042530600,일상생활및구어체,"""BBB2""가 자체개발한 야구 시뮬레이션 게임이며, 여러분이 직접 구단주가 되어 팀...","It's a baseball simulation game developed by ""...",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
1009705,INTSALDSUT0621190427280593,일상생활및구어체,"""FFF"" 구두는 저희 회사의 주력 상품인데 이렇게 클레임이 들어오니 저희도 굉장히...","""FFF"" shoes are the main products of our compa...",/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
...,...,...,...,...,...,...,...
948390,KPUS062012215070941,일상생활및구어체,힘들어.,I'm tired.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
124115,KTOS062012215135244,일상생활및구어체,힘이 좋아.,He's strong.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
134283,KTOS062012215135174,일상생활및구어체,힘이 좋아.,He's strong.,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
415388,INTSALDSUT0621190427282039,일상생활및구어체,힙을 폭 가려주는 여유 있는 루즈핏으로 체형 커버까지 완벽한 방한템 입니다.,It's a perfect roomy item with a loose fit tha...,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en
698372,INTSALDSUT062119042768438,일상생활및구어체,힙을 폭 가려주는 여유 있는 루즈핏으로 체형 커버까지 완벽한 방한템 입니다.,It's a perfect roomy item with a loose fit tha...,/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번...,ko,en

In [74]:
everyday_life_df.file_name.unique()

array(['/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/1.Training/라벨링데이터/일상생활및구어체_한영_train_set.json',
       '/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/1.Training/라벨링데이터/일상생활및구어체_영한_train_set.json',
       '/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/2.Validation/라벨링데이터/일상생활및구어체_영한_valid_set.json',
       '/home/ndpower/Data/AI_Hub/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/2.Validation/라벨링데이터/일상생활및구어체_한영_valid_set.json'],
      dtype=object)

In [70]:
# duplication_check_df1 = everyday_life_df[everyday_life_df.source_language == 'ko']
# duplication_check_df2 = everyday_life_df[everyday_life_df.source_language == 'en']

In [72]:
# duplication_check_df1.rename(columns = {'source':'ko','target':'en'},inplace=True)
# duplication_check_df2.rename(columns = {'source':'en','target':'ko'},inplace=True)

C:\Users\shjo\AppData\Local\Temp\ipykernel_3420\1314526914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplication_check_df1.rename(columns = {'source':'ko','target':'en'},inplace=True)
C:\Users\shjo\AppData\Local\Temp\ipykernel_3420\1314526914.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplication_check_df2.rename(columns = {'source':'en','target':'ko'},inplace=True)

In [75]:
# duplication_check_df = pd.concat([duplication_check_df1,duplication_check_df2])

In [38]:
# duplication_check_df.duplicated(['ko'])

### 데어터셋별 기존 분류 파악

In [10]:
def get_mixed_valuecount(df, *columns):
    return df.groupby(list(columns)).size().reset_index(name='counts')

In [ ]:
# '일상생활_및_구어체_한-영_번역_병렬_말뭉치_데이터.csv'

In [17]:
df = get_mixed_valuecount(sample_data,'domain','subdomain')
df

      domain  subdomain  counts
0       일상생활         구매  180063
1       일상생활         여행  269839
2       일상생활         예약  134940
3       일상생활         음식  314915
4   해외고객과의채팅      금융,보험   27015
5   해외고객과의채팅  기계장비,의료정밀   27104
6   해외고객과의채팅      도소매유통  296899
7   해외고객과의채팅        부동산   31566
8   해외고객과의채팅     숙박,음식점   44987
9   해외고객과의채팅  연구개발,과학기술   54114
10  해외고객과의채팅       정보통신   58536
11      해외영업      금융,보험   45084
12      해외영업  기계장비,의료정밀   62950
13      해외영업      도소매유통  729080
14      해외영업        부동산   76540
15      해외영업     숙박,음식점   89930
16      해외영업  연구개발,과학기술  126033
17      해외영업       정보통신  130750

In [12]:
sample_data.columns

Index(['sn', 'data_set', 'domain', 'subdomain', 'en_original', 'en', 'mt',
       'ko', 'source_language', 'target_language', 'word_count_ko',
       'word_count_en', 'word_ratio', 'file_name', 'source', 'license',
       'style', 'included_unknown_words', 'ner', 'ko_original'],
      dtype='object')

In [33]:
ko_en_trans_df.columns

Index(['대분류', '소분류', '상황', 'Set Nr.', '발화자', '원문', '번역문'], dtype='object')

In [36]:
df = get_mixed_valuecount(ko_en_trans_df,'대분류','소분류')

In [39]:
df["소분류"].unique()

array(['CS/고객상담', 'IT/컴퓨터', '경영/사무', '관공서/행정업무보는상황', '마케팅/홍보', '무역', '법률',
       '부서별', '비즈니스', '사내 일상대화', '영업', '인사관리', '전화업무', '출장', '취직 면접 상황',
       '취직면접상황', '컨퍼런스', '회계/재무', '회사', '회사 내', '회식', '회의', '경기관람', '스포츠',
       '공항', '관광', '교통', '금융', '긴급 상황', '쇼핑', '숙박', '숙소', '식당', '신발가게',
       '엔터테이먼트', '엔터테인먼트', '여행', '온라인 쇼핑', '외식', '음식점', '캠핑', '호텔', '병원',
       '약국', '가정', '데이트', '미용', '미용실/스파/뷰티', '미용실/스파/뷰티샵', '병원/약국', '연구실',
       '연예', '운동', '인사', '일상', '전화', '집 안', '취미/관심사', '학교'], dtype=object)

In [40]:
df["대분류"].unique()

array(['비즈니스', '스포츠', '여행/쇼핑', '의학', '일상대화'], dtype=object)

In [41]:
ko_en_trans_df[ko_en_trans_df['소분류']=='부서별']

,대분류,소분류,상황,Set Nr.,발화자,원문,번역문
57844,비즈니스,부서별,"인사관리 (입사 및 퇴사하는 상황, 근태 관리 등)",14462,A-1,"김 대리 말이야, 요즘 지각이 너무 잦지 않아?","About Assistant Manager Kim, don't you think h..."
57845,비즈니스,부서별,"인사관리 (입사 및 퇴사하는 상황, 근태 관리 등)",14462,B-1,마케팅부에 있는 김 대리님 말씀하시는 건가요?,Are you talking about Assistant Manager Kim in...
57846,비즈니스,부서별,"인사관리 (입사 및 퇴사하는 상황, 근태 관리 등)",14462,A-2,"그래, 마케팅부 김 대리 말이야, 오늘도 늦게 왔더라고.","Yes, Assistant Manager Kim in marketing, he wa..."
57847,비즈니스,부서별,"인사관리 (입사 및 퇴사하는 상황, 근태 관리 등)",14462,B-2,"처음 입사했을 때는 성실하더니 왜 그런대요, 무슨 일 있나.",He was diligent when he first joined the compa...
57848,비즈니스,부서별,"인사관리 (입사 및 퇴사하는 상황, 근태 관리 등)",14463,A-1,죄송하지만 집안에 일이 생겨서 이번 주까지만 일을 해야 할 것 같습니다.,"I am sorry, but I think I will only be able to..."
...,...,...,...,...,...,...,...
91975,비즈니스,부서별,지각한 상황,22994,B-2,알았어. 지금 바로 회의 들어가야 하니까 준비하고 회의실로 와.,"Okay, we need to head right into a meeting so ..."
91976,비즈니스,부서별,지점으로 물건이 잘 못 배달된 상황,22995,A-1,"방금 주문한 물건들 받았는데, 제가 주문한 거랑 다르게 왔어요.","I just received the items that I ordered, but ..."
91977,비즈니스,부서별,지점으로 물건이 잘 못 배달된 상황,22995,B-1,안녕하세요. 지점장님 혹시 거기에 아마 번호나 지점 이름 쓰여 있을 텐데 확인해보셨어요?,"Hello branch manager, there should be a number..."
91978,비즈니스,부서별,지점으로 물건이 잘 못 배달된 상황,22995,A-2,"네, 확인해봤는데 저희 지점이 아니라 다른 지점으로 되어있네요.","Yes, I checked it and it says the name of a di..."
91979,비즈니스,부서별,지점으로 물건이 잘 못 배달된 상황,22995,B-2,죄송해요. 지점장님 확인해보니까 물류가 바뀐 거 같아요.,"I'm sorry branch manager, I checked it and it ..."

In [79]:
import pandas as pd

# Sample DataFrame 'df' with 'source', 'target', 'source_language', 'target_language'
data = {"source": ["Hello", "안녕하세요", "Hello", "뭐해","Hello","Hello"],
        "target": ["안녕", "Hello", "안녕", "what are you doing","안녕?","안녕."],
        "source_language": ["en", "ko", "en", "ko","en","en"],
        "target_language": ["ko", "en", "ko", "en","ko","ko"]}

df = pd.DataFrame(data)

In [74]:
df

  source              target source_language target_language
0  Hello                  안녕              en              ko
1  안녕하세요               Hello              ko              en
2  Hello                  안녕              en              ko
3     뭐해  what are you doing              ko              en
4  Hello                 안녕?              en              ko
5  Hello                 안녕.              en              ko

In [ ]:
data = {"source": ["Hello", "안녕하세요", "Hello", "뭐해"],
        "target": ["안녕", "Hello", "안녕", "what are you doing"],
        "source_language": ["en", "ko", "en", "ko"],
        "target_language": ["ko", "en", "ko", "en"]
       "ko":["안녕","안녕하세요","안녕","뭐해"]
       "en":["Hello", "Hello", "Hello", "what are you doing"]}

In [36]:
def rearrange_values(row):
    if row['source_language'] == 'ko':
        return row['source'], row['target']
    else:
        return row['target'], row['source']
df['ko'],df['en'] = zip(*df.apply(rearrange_values, axis=1))

In [42]:
df

,source,target,source_language,target_language,ko,en
0,Hello,안녕,en,ko,안녕,Hello
1,안녕하세요,Hello,ko,en,안녕하세요,Hello
2,Hello,안녕,en,ko,안녕,Hello
3,뭐해,what are you doing,ko,en,뭐해,what are you doing

In [48]:
df['source'].duplicated(keep=False) & ~df['target'].duplicated(keep=False)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [60]:
df['source'].duplicated(keep=False)

0     True
1    False
2     True
3    False
4     True
Name: source, dtype: bool

In [7]:
# sample_data[sample_data.duplicated(['ko','en'],keep=False)].sort_values(by='ko')

In [8]:
contents_df

,sn,data_set,source,target,file_name,source_language,target_language
0,ex_x_000049,방송콘텐츠_한국어-영어_번역_말뭉치,"그렇기 때문에, 그것은 열을 많이 만들어 내는 한약재로 쓰입니다","Therefore, it is used as a herbal medicine tha...",./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_교양...,ko,en
1,ex_x_000058,방송콘텐츠_한국어-영어_번역_말뭉치,나는 이곳의 순댓국이 아주 깔끔하고 맛있다는 것을 확인할 수 있었습니다.,I was able to confirm that the sundae soup her...,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_교양...,ko,en
2,ex_x_083705,방송콘텐츠_한국어-영어_번역_말뭉치,TV를 통해서 앞으로 안 끝나기만 바라던 프로그램이었거든요.,It was a program that I hoped would not end in...,./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_교양...,ko,en
3,ex_x_111681,방송콘텐츠_한국어-영어_번역_말뭉치,"PD님, 여기를 간다고요?","Producer, we're going here?",./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_교양...,ko,en
4,ex_x_111698,방송콘텐츠_한국어-영어_번역_말뭉치,지하 암반수가 풍부한 광명동굴에서 만날 수 있는 Aqua World가 있습니다.,"There is Aqua World, which can be found in Gwa...",./01.데이터/Training/02.라벨링데이터/TL_한국어-다국어_koen_교양...,ko,en
...,...,...,...,...,...,...,...
587079,md_151372,방송콘텐츠_한국어-영어_번역_말뭉치,But the good deed was not as easy to implement...,그러나 그 선행은 그 아가씨가 상상했던 것만큼 실행하기가 쉽지 않았다.,./01.데이터/Validation/02.라벨링데이터/VL_다국어-한국어_enko_...,en,ko
587080,md_151382,방송콘텐츠_한국어-영어_번역_말뭉치,"However, your encouragement may already be too...","하지만, 여러분의 격려가 이미 그에게 너무 늦었을 수도 있습니다.",./01.데이터/Validation/02.라벨링데이터/VL_다국어-한국어_enko_...,en,ko
587081,md_151392,방송콘텐츠_한국어-영어_번역_말뭉치,A teenager is sent to a Catholic school where ...,한 십대 소녀가 적응하는데 어려움을 겪는 가톨릭 학교로 보내진다.,./01.데이터/Validation/02.라벨링데이터/VL_다국어-한국어_enko_...,en,ko
587082,md_151402,방송콘텐츠_한국어-영어_번역_말뭉치,Floyd is a skunk himself and wants to convince...,플로이드는 그 자신이 스컹크이며 스컹크가 쓰레기가 아니라는 것을 사회를 설득하고 싶...,./01.데이터/Validation/02.라벨링데이터/VL_다국어-한국어_enko_...,en,ko
587083,md_151412,방송콘텐츠_한국어-영어_번역_말뭉치,Women in Javanese culture had only one purpose...,자바 문화에서 여성들은 왕족 혈통의 남자의 신부가 되는 단 하나의 목적을 가지고 있었다.,./01.데이터/Validation/02.라벨링데이터/VL_다국어-한국어_enko_...,en,ko

### 인용문

#### 따옴표 포함 문장 Count & 추출

In [9]:
import pandas as pd

# Sample DataFrame 'df' with 'sentences' column
data = {"sentences": ["This is a normal sentence.",
                      "She said, 'Hello there!'",
                      'He replied, "Hi!"',
                      "This is another sentence."]}
df = pd.DataFrame(data)

# Define a list of characters to check for (single quote, double quote, comma, space)
special_characters = ["'", '"', ',', ' ']

# Create a new column 'contains_quote' to indicate if the sentence contains special characters
for char in special_characters:
    df[f'contains_{char}'] = df['sentences'].str.contains(char)

# Show the DataFrame with the new columns
print(df)

                    sentences  contains_'  contains_"  contains_,  contains_
0  This is a normal sentence.       False       False       False        True
1    She said, 'Hello there!'        True       False        True        True
2           He replied, "Hi!"       False        True        True        True
3   This is another sentence.       False       False       False        True

In [8]:
import re
import pandas as pd

# 기호 체크
def contains_quote(s):
    pattern = r"'[^']*'"
    return bool(re.search(pattern, s))

def contains_double_quote(s):
    pattern = r'"[^"]*"'
    return bool(re.search(pattern, s))

# 기호 체크시 true 값인 경우 해당 문장 반환
def contains_quote_sentence(s):
    pattern = r"'[^']*'"
    return re.findall(pattern, s)

def contains_double_quote_sentence(s):
    pattern = r'"[^"]*"'
    return re.findall(pattern, s)

# 기호 체크 및 확인 데이터프레임 생성(분석 및 통계치 위함)
def quotation_check(df):
    contains_quote_list = []
    contains_double_quote_list = []
    contains_quote_check = []
    contains_double_quote_check = []
    quotation_check_df = pd.DataFrame()
    df['ko'],df['en'] = zip(*df.apply(rearrange_values, axis=1)) # 한국어만 시행하기 위한 함수, rearrange_values는 위 쪽에 있음
    # 따옴표 '', "" 로 통일, 기호 수정
    replacements = {'\u201C': '\"',
               '\u201D': '\"',
               '\u2018': '\'',
               '\u2019': '\''}
    for old, new in replacements.items():
        df['ko'] = df['ko'].str.replace(old, new)

    for text in df['ko']:
        contains_quote_check.append(contains_quote(text))
        contains_double_quote_check.append(contains_double_quote(text))
        if contains_quote(text) is True :
            contains_quote_list.append(contains_quote_sentence(text))
        else:
            contains_quote_list.append([])
        if contains_double_quote(text) is True :
            contains_double_quote_list.append(contains_double_quote_sentence(text))
        else:
            contains_double_quote_list.append([])
    
    quotation_check_df['quote_check'] = contains_quote_check
    quotation_check_df['double_quote_check'] = contains_double_quote_check 
    quotation_check_df['quote_list'] = contains_quote_list
    quotation_check_df['double_quote_list'] = contains_double_quote_list
    quotation_check_df['sentence'] = df['ko']
    df.drop(['ko', 'en'], axis=1, inplace=True)       
    
    return quotation_check_df

In [71]:
for df in dataset_list:
    check_df = quotation_check(df)
    print(df.Name)
    print("작은따옴표 수 :", check_df.quote_check.sum())
    print("큰따옴표 수 :", check_df.double_quote_check.sum())
    print("작은, 큰 따옴표 모두 존재 수 :",len(check_df[(check_df.quote_check == True) & (check_df.double_quote_check == True)]))
    print('-----------------------------')

utterance_type_df
작은따옴표 수 : 674
큰따옴표 수 : 439
작은, 큰 따옴표 모두 존재 수 : 14
-----------------------------
specialty_df
작은따옴표 수 : 144631
큰따옴표 수 : 79145
작은, 큰 따옴표 모두 존재 수 : 5524
-----------------------------
ko_en_trans_df
작은따옴표 수 : 118989
큰따옴표 수 : 111187
작은, 큰 따옴표 모두 존재 수 : 7407
-----------------------------
everyday_life_df
작은따옴표 수 : 2396
큰따옴표 수 : 3907
작은, 큰 따옴표 모두 존재 수 : 10
-----------------------------
science_df
작은따옴표 수 : 66758
큰따옴표 수 : 99259
작은, 큰 따옴표 모두 존재 수 : 5502
-----------------------------
food_df
작은따옴표 수 : 5210
큰따옴표 수 : 11062
작은, 큰 따옴표 모두 존재 수 : 55
-----------------------------
contents_df
작은따옴표 수 : 10827
큰따옴표 수 : 74
작은, 큰 따옴표 모두 존재 수 : 0
-----------------------------

In [16]:
check_df = quotation_check(everyday_life_df)

In [17]:
check_df[(check_df.quote_check == True) & (check_df.double_quote_check == True)]

,quote_check,double_quote_check,quote_list,double_quote_list,sentence
49335,True,True,['A'],"[""대리점""]","안녕하세요! 'A'. 저는 ""대리점""에 대해 이야기하고 싶습니다."
158259,True,True,['정부 ID'],"[""대리점""]","""대리점""을 이용하려면 '정부 ID'와 5개의 호수를 제출해야 합니다."
380513,True,True,['로봇과 함께 찍기'],"[""저와 함께 사진 찍을 준비 되셨나요?""]","화면에서 '로봇과 함께 찍기'를 선택하면 안내로봇이 ""저와 함께 사진 찍을 준비 되..."
536306,True,True,['환경지킴이'],"[""오존층의 중요성""]","교수님, 내일 저녁 7시에 저희 '환경지킴이' 동호회에서 ""오존층의 중요성""에 대하..."
858899,True,True,['곰'],"[""고음""]","""고음""은 기름진 음식이고 그 말이 줄어서 '곰'인데 여기에 국이라는 글자를 붙인 ..."
881399,True,True,['환경을 생각한 포장 원칙'],"[""BBB""]","인간과 자연이 공존하는 지속가능한 지구를 위해 ""BBB""식품은 바른먹거리 전 제품에..."
945969,True,True,['4Less'],"[""FFF""]","""FFF""케어는 의무기록 차트, 전표, 필름 , 종이가 없는 이른바 '4Less'를..."
963987,True,True,"['홈 라이프', '재택 근무']","[""FFF 모니터가 '홈 라이프', '재택 근무' 시대에 OTT(Over The T...","트러스티드 리뷰는 ""FFF 모니터가 '홈 라이프', '재택 근무' 시대에 OTT(O..."
1266365,True,True,['바위와 유형'],"[""AAA2, 너는 '바위와 유형'이라는 주제로 우리를 가르쳐야 해, 그리고 나는 ...","""AAA2, 너는 '바위와 유형'이라는 주제로 우리를 가르쳐야 해, 그리고 나는 네..."
2618523,True,True,['4Less'],"[""FFF""]","""FFF""케어는 의무기록 차트, 전표, 필름 , 종이가 없는 이른바 '4Less'를..."

In [21]:
check_df.iloc[1266365,4]

'"AAA2, 너는 \'바위와 유형\'이라는 주제로 우리를 가르쳐야 해, 그리고 나는 네가 발표할 때 다양한 유형의 암석 샘플을 가지고 수업을 진행했으면 좋겠어."'

In [86]:
check_df[check_df.quote_check == True]

,quote_check,double_quote_check,quote_list,double_quote_list,sentence
947,True,False,['대부'],None,'대부'는 큰 남자를 의미합니다.
2806,True,False,['그게 무슨 소리단가? 저이의 가장 친한 친구는 나였어.'],None,'그게 무슨 소리단가? 저이의 가장 친한 친구는 나였어.'라고 말한다.
2807,True,False,['나 당장 일본으로 돌아가서 조선인들을 변호해야 되겠다.'],None,'나 당장 일본으로 돌아가서 조선인들을 변호해야 되겠다.'하면서 울분을 터뜨리고 했...
2808,True,False,"['아우, 김홍도는 잘생겼다.', '멋있다.']",None,"'아우, 김홍도는 잘생겼다.', '멋있다.'는 말에 대한 진실을 좀 우리가 알아야 ..."
2809,True,False,"['어이, 거기에 왜 자네가 나서는가? 상여꾼은 내가 해야지.']",None,"'어이, 거기에 왜 자네가 나서는가? 상여꾼은 내가 해야지.'라고 말한다."
...,...,...,...,...,...
586940,True,False,['Mr. X'],None,1958년에 유제프 흐멜니츠키(Józef Khmelnitsky) 'Mr. X'가 감...
586951,True,False,['특별한'],None,"우리와 우리 영화 만의 '특별한' 요소들은 우리가 우연히 주워듣고, 우리가 작가들로..."
586980,True,False,['미네랄 워터와 치유 공기로 치료'],None,1921년 소련에서 온 최초의 근로자 그룹이 '미네랄 워터와 치유 공기로 치료'하기...
587015,True,False,"['포크(folk)', '위너(Winner)', '레인보우(Rainbow)', '(...",None,"30년 넘게 '포크(folk)'라는 이름의 그룹이 있었는데, 이 그룹은 베테랑 합창..."
587025,True,False,['Proposal'],None,"'Proposal' 이후 피어스는 강한 남자들과 교체하지 않고 힐코트, 이스트우드와..."

In [102]:
check_df['quote_count'] = check_df.quote_list.apply(len)
check_df['double_quote_count'] = check_df.double_quote_list.apply(len)

In [108]:
check_df[check_df.double_quote_count>2].sort_values(by='sentence')

,quote_check,double_quote_check,quote_list,double_quote_list,sentence,quote_count,double_quote_count
1891956,False,True,[],"[""Hello"", ""kamusta"", ""goodbye"", ""paalam""]","""Hello""는 ""kamusta""이고, ""goodbye""는 ""paalam""입니다.",0,4
1892711,False,True,[],"[""V"", ""F"", ""W"", ""V""]","""V""는 ""F""로 발음되고, ""W""는 ""V""로 발음 돼.",0,4
1892068,False,True,[],"[""고마워요"", ""dankeschon"", ""부탁해요"", ""비뜨""]","""고마워요""는 ""dankeschon""이고, ""부탁해요""는 ""비뜨""입니다.",0,4
1891965,False,True,[],"[""고마워요"", ""salamat"", ""천만에요"", ""walang anuman.""]","""고마워요""는 ""salamat""이고, ""천만에요""는 ""walang anuman.""입니다.",0,4
1891934,False,True,[],"[""네"", ""Taip"", ""아니오"", ""Ne""]","""네""는 ""Taip""이고, ""아니오""는 ""Ne""입니다.",0,4
...,...,...,...,...,...,...,...
346435,False,True,[],"[""보온"", ""소테"", ""슬로우 쿡""]","쿠커를 ""보온"" 모드로 할 때, 또한 ""소테""와 ""슬로우 쿡"" 프로그램을 사용할 때...",0,3
608485,False,True,[],"[""FFF1"", ""FFF2"", ""FFF3"", ""BBB""]","특히 ""FFF1"", ""FFF2"", ""FFF3"" 등 최고의 파트너들이 있었기에 오늘날...",0,4
2681926,False,True,[],"[""FFF1"", ""FFF2"", ""FFF3"", ""BBB""]","특히 ""FFF1"", ""FFF2"", ""FFF3"" 등 최고의 파트너들이 있었기에 오늘날...",0,4
657352,False,True,[],"[""BBB1"", ""BBB2"", ""BBB3"", ""BBB4""]","현재 지원 가능한 은행은 ""BBB1"", ""BBB2"", ""BBB3"", ""BBB4"" 등...",0,4
1891469,False,True,[],"[""작은"", ""노란색"", ""추한"", ""빨간색""]","형용사 예시는 ""작은"", ""노란색"", ""추한"" 및 ""빨간색""입니다.",0,4

In [107]:
check_df.iloc[750577,4]

'"AAA""" 초등학교 근처에 상가 공실이 있나요?'

In [94]:
test = check_df[check_df.quote_check == True]

In [99]:
test = []
len(test)

0

In [83]:
check_df.iloc[1266365,3]

['"AAA2, 너는 \'바위와 유형\'이라는 주제로 우리를 가르쳐야 해, 그리고 나는 네가 발표할 때 다양한 유형의 암석 샘플을 가지고 수업을 진행했으면 좋겠어."']

In [93]:
check_df

,quote_check,double_quote_check,quote_list,double_quote_list,sentence,count
0,False,False,None,None,"그렇기 때문에, 그것은 열을 많이 만들어 내는 한약재로 쓰입니다",1
1,False,False,None,None,나는 이곳의 순댓국이 아주 깔끔하고 맛있다는 것을 확인할 수 있었습니다.,1
2,False,False,None,None,TV를 통해서 앞으로 안 끝나기만 바라던 프로그램이었거든요.,1
3,False,False,None,None,"PD님, 여기를 간다고요?",1
4,False,False,None,None,지하 암반수가 풍부한 광명동굴에서 만날 수 있는 Aqua World가 있습니다.,1
...,...,...,...,...,...,...
587079,False,False,None,None,그러나 그 선행은 그 아가씨가 상상했던 것만큼 실행하기가 쉽지 않았다.,1
587080,False,False,None,None,"하지만, 여러분의 격려가 이미 그에게 너무 늦었을 수도 있습니다.",1
587081,False,False,None,None,한 십대 소녀가 적응하는데 어려움을 겪는 가톨릭 학교로 보내진다.,1
587082,False,False,None,None,플로이드는 그 자신이 스컹크이며 스컹크가 쓰레기가 아니라는 것을 사회를 설득하고 싶...,1
587083,False,False,None,None,자바 문화에서 여성들은 왕족 혈통의 남자의 신부가 되는 단 하나의 목적을 가지고 있었다.,1

In [13]:
test ='''Let's go, it's exciting!'''

In [14]:
contains_quote(test)

True

In [15]:
pattern = r"'[^']*'"
re.findall(pattern, test)

["'s go, it'"]

In [68]:
pattern2 = r'"[^"]*"'
re.findall(pattern2, test)

['"빨리 \'김치\'와 \'콩나물\'이랑 밥먹어"']

In [69]:
pattern2 = r'"[^"]*"'
re.search(pattern2, test).group()

'"빨리 \'김치\'와 \'콩나물\'이랑 밥먹어"'

In [17]:
utterance_type_df[utterance_type_df.target.isna()]

,sn,data_set,source,target,file_name,source_language,target_language,ko,en
4407,100013-556-1-4,기계번역 병렬 말뭉치 데이터,Make a multi-player game from scratch in ASCII.,NaN,en-ko_CH_ES_en_ko_100013-556-1-4,en,ko,NaN,Make a multi-player game from scratch in ASCII.
24365,100013-230-1-4,기계번역 병렬 말뭉치 데이터,"For players less intrigued in punching, the up...",NaN,en-ko_WR_CA_en_ko_100013-230-1-4,en,ko,NaN,"For players less intrigued in punching, the up..."

In [19]:
for df in dataset_list:
    print(df.Name)
    print('source_na: ', df.source.isna().sum())
    print('target_na: ', df.target.isna().sum())
    print('------------------------')

utterance_type_df
source_na:  0
target_na:  2
------------------------
specialty_df
source_na:  0
target_na:  0
------------------------
ko_en_trans_df
source_na:  0
target_na:  0
------------------------
everyday_life_df
source_na:  0
target_na:  0
------------------------
science_df
source_na:  0
target_na:  0
------------------------
food_df
source_na:  0
target_na:  0
------------------------
contents_df
source_na:  0
target_na:  0
------------------------

In [21]:
print(len(utterance_type_df))
utterance_type_df.dropna(subset=['target'], inplace=True)
print(len(utterance_type_df))

27002
27000

#### 인용문 판별(따옴표 문장 종류 구분)

In [ ]:
# test 데이터 로드

In [137]:
utterance_type_df

,sn,data_set,source,target,file_name,source_language,target_language
0,100010-1376-1-6,기계번역 병렬 말뭉치 데이터,그래서 차라리 원인을 없애야겠다 싶어서 탈퇴하고 앱도 지웠어요.,"So I thought I should get rid of the cause, so...",ko-en_SP_ES_ko_en_100010-1376-1-6,ko,en
1,100010-1462-1-9,기계번역 병렬 말뭉치 데이터,일을 해야 돈을 벌고 그래야 생활할 수 있는데.,We need to work to earn money and to live.,ko-en_CH_ES_ko_en_100010-1462-1-9,ko,en
2,100013-350-1-10,기계번역 병렬 말뭉치 데이터,We've all had really great conversations.,우리 모두는 정말 좋은 대화를 나누었습니다.,en-ko_SP_ES_en_ko_100013-350-1-10,en,ko
3,100010-1703-1-8,기계번역 병렬 말뭉치 데이터,안 그래도 요즘 큐티클층이 많이 손상됐는지 머리가 부스스했는데 잘 됐다.,I'm not sure if the cuticle layer has been dam...,ko-en_CH_CA_ko_en_100010-1703-1-8,ko,en
4,100013-1202-1-11,기계번역 병렬 말뭉치 데이터,We're gonna probably be doing that closer to l...,아마도 출시가 가까워지면 할 것 같습니다.,en-ko_SP_CA_en_ko_100013-1202-1-11,en,ko
...,...,...,...,...,...,...,...
26995,100010-2423-1-10,기계번역 병렬 말뭉치 데이터,또한 오는 12월까지 계약 또는 출고 고객을 대상으로 추첨을 통해 추가 증정하는 경...,"In addition, there will be a giveaway event to...",ko-en_WR_ST_ko_en_100010-2423-1-10,ko,en
26996,100010-2197-1-2,기계번역 병렬 말뭉치 데이터,음식 조절하고 운동하면 콜레스테롤이랑 엘디엘 수치가 내려갈까요?,Will controlling diet and exercising lower my ...,ko-en_SP_SH_ko_en_100010-2197-1-2,ko,en
26997,100010-1776-1-2,기계번역 병렬 말뭉치 데이터,딸애는 엠비티아이 검사할 때 항상 같은 것만 나온다고 하더라고.,My daughter says the same result always comes ...,ko-en_CH_ES_ko_en_100010-1776-1-2,ko,en
26998,100013-28-1-10,기계번역 병렬 말뭉치 데이터,List the specific consequences of angry behavi...,살면서 사람들에게 화를 냈을 때의 구체적인 결과를 나열해보아라.,en-ko_WR_ES_en_ko_100013-28-1-10,en,ko
26999,100013-1057-1-4,기계번역 병렬 말뭉치 데이터,"I don’t have emotional support, but I’ll conti...",정서적인 지지을 받고 있지는 않지만 나는 계속 나 자신을 위해 싸울 거야.,en-ko_CH_SH_en_ko_100013-1057-1-4,en,ko

In [138]:
check_df = quotation_check(utterance_type_df)

In [153]:
check_df[check_df.quote_check == True].quote_list

135      ['캡티베이트(Captivate)!']
216                  ['엠비티아이']
219                    ['케이7']
308                 ['스테이케이션']
309                 ['벽에 부딪힘']
                 ...
26806                 ['호텔위크']
26812             ['심리검사의 홍수']
26876                    ['쏠']
26908             ['임신 준비 과정']
26980                   ['첫차']
Name: quote_list, Length: 674, dtype: object

In [9]:
import re
def special_check_df_make2(df):
    special_check_df = pd.DataFrame()
    special_check_df['source'] = df.sentence
    
    special_check_df['check'] = special_check_df.source.apply(special_check)
    special_check_df['check2'] = special_check_df.check.apply(not_in_string_punctuation)
    special_check_df['check_count'] = special_check_df.check2.apply(len)
    return special_check_df

In [141]:
check_df_special_check = special_check_df_make2(check_df)

In [142]:
check_df_special_check

,source,check,check2,check_count
0,그래서 차라리 원인을 없애야겠다 싶어서 탈퇴하고 앱도 지웠어요.,[.],{},0
1,일을 해야 돈을 벌고 그래야 생활할 수 있는데.,[.],{},0
2,우리 모두는 정말 좋은 대화를 나누었습니다.,[.],{},0
3,안 그래도 요즘 큐티클층이 많이 손상됐는지 머리가 부스스했는데 잘 됐다.,[.],{},0
4,아마도 출시가 가까워지면 할 것 같습니다.,[.],{},0
...,...,...,...,...
26995,또한 오는 12월까지 계약 또는 출고 고객을 대상으로 추첨을 통해 추가 증정하는 경...,[.],{},0
26996,음식 조절하고 운동하면 콜레스테롤이랑 엘디엘 수치가 내려갈까요?,[?],{},0
26997,딸애는 엠비티아이 검사할 때 항상 같은 것만 나온다고 하더라고.,[.],{},0
26998,살면서 사람들에게 화를 냈을 때의 구체적인 결과를 나열해보아라.,[.],{},0
26999,정서적인 지지을 받고 있지는 않지만 나는 계속 나 자신을 위해 싸울 거야.,[.],{},0

### 구두점 분석

In [ ]:
# 구두점에서 알아볼 것
# 문장 끝에 string.punctuation에 포함되는지 여부
# 포함 될 경우 어떤 기호인지

In [10]:
# punctuation 존재 여부 확인
import string
def has_punctuation_at_end(text):
    punctuation_chars = set(string.punctuation) #+ punctuation_add
    return text[-1] in punctuation_chars

def punctuation_check_df(df):
    punctuation_check_df = pd.DataFrame()
    df['ko'],df['en'] = zip(*df.apply(rearrange_values, axis=1)) # 한국어만 시행하기 위한 함수, rearrange_values는 위 쪽에 있음
    # 따옴표 '', "" 로 통일, 기호 수정
    replacements = {'\u201C': '\"',
               '\u201D': '\"',
               '\u2018': '\'',
               '\u2019': '\''}
    for old, new in replacements.items():
        df['ko'] = df['ko'].str.replace(old, new)
    punctuation_check_df['sentence'] = df['ko']    
    df.drop(['ko', 'en'], axis=1, inplace=True) 
    #문장 끝에 공백 제거
    punctuation_check_df['sentence'] = punctuation_check_df['sentence'].apply(lambda x: x.rstrip(' '))
    punctuation_check_df['punctuation_check'] = punctuation_check_df['sentence'].apply(has_punctuation_at_end)
    punctuation_check_df['punctuation'] = punctuation_check_df.apply(lambda row: row['sentence'][-1] if row['punctuation_check'] else None, axis=1)
    punctuation_check_df['last_letter'] = [sentence[-1] for sentence in punctuation_check_df['sentence']]
    return punctuation_check_df

In [11]:
# 각 데이터셋의 기호 분포를 판다스 데이터프레임으로 보기 위함(value_counts 정리)
def make_punctuation_table(dataset_list):
    punctuation_df = pd.DataFrame()
    for df in dataset_list:
        check_df = punctuation_check_df(df)
        punctuation_sub_df = check_df.punctuation.value_counts(dropna=False).to_frame()
        punctuation_sub_df.reset_index(inplace=True)
        punctuation_sub_df.rename(columns={'index':'punctuation_mark','punctuation':'count'},inplace=True)
        punctuation_sub_df['dataset_name'] = df.Name
        punctuation_df = pd.concat([punctuation_df,punctuation_sub_df])
    return punctuation_df

In [16]:
punctuation_table = make_punctuation_table(dataset_list)

In [52]:
for df in dataset_list:
    check_df = punctuation_check_df(df)
    print(df.Name)
    print("총 데이터 수 :",len(check_df))
    print("구두점 수 :", (check_df.punctuation_check==True).sum())
    print("구두점 X 수 :", (check_df.punctuation_check==False).sum())
    print(check_df.punctuation.value_counts())
    print('-----------------------------')

utterance_type_df
총 데이터 수 : 27000
구두점 수 : 25509
구두점 X 수 : 1491
.    22877
?     2373
!      231
"       10
)        9
,        5
'        1
;        1
/        1
~        1
Name: punctuation, dtype: int64
-----------------------------
specialty_df
총 데이터 수 : 1350000
구두점 수 : 1350000
구두점 X 수 : 0
.    1332153
)      17397
?        234
!        123
"         77
'         14
~          2
Name: punctuation, dtype: int64
-----------------------------
ko_en_trans_df
총 데이터 수 : 1602418
구두점 수 : 1598854
구두점 X 수 : 3564
.    1517157
?      80181
!       1256
"         97
)         93
,         58
:          5
~          4
%          2
]          1
Name: punctuation, dtype: int64
-----------------------------
everyday_life_df
총 데이터 수 : 2700345
구두점 수 : 2683244
구두점 X 수 : 17101
.    2325974
?     296048
!      47833
~      12151
,        725
)        263
"        146
'         44
\         13
/         12
]          8
:          7
-          5
;          4
*          3
>          3
^          3
[          1
`          1
Name: punctuation, dtype: int64
-----------------------------
science_df
총 데이터 수 : 1350162
구두점 수 : 1350003
구두점 X 수 : 159
.    1347211
?       2187
"        506
]         22
!         21
,         15
)         13
'          8
:          7
;          7
-          4
\          1
*          1
Name: punctuation, dtype: int64
-----------------------------
food_df
총 데이터 수 : 1350000
구두점 수 : 1349849
구두점 X 수 : 151
.    1349364
"        156
,        155
?        127
)         28
'          7
!          5
;          2
|          2
]          2
`          1
Name: punctuation, dtype: int64
-----------------------------
contents_df
총 데이터 수 : 587084
구두점 수 : 579002
구두점 X 수 : 8082
.    505535
?     66369
!      4640
,      1313
'       539
~       380
;        86
)        48
>        35
"        20
]        16
/        10
-         7
`         2
\         1
:         1
Name: punctuation, dtype: int64
-----------------------------

In [32]:
test ='''Let's go, it's exciting'''

In [33]:
has_punctuation_at_end(test)

False

In [101]:
utterance_type_df['punctuation_check'] = utterance_type_df.source.apply(has_punctuation_at_end)

In [102]:
utterance_type_df[utterance_type_df.punctuation_check == False]

,sn,data_set,source,target,file_name,source_language,target_language,punctuation_check,test
8,100010-2231-1-8,기계번역 병렬 말뭉치 데이터,당분간 어쩔 수 없지 정부의 지침을 따라서 어느 정도 잦아들 때까지 기다려야지,"For the time being, we'll just have to follow ...",ko-en_SP_SH_ko_en_100010-2231-1-8,ko,en,False,False
55,100010-2212-1-2,기계번역 병렬 말뭉치 데이터,그럼 당연하지 외래 진료든 입원 환자든 보호자든 예외 없더라고,"Yes, of course, there are no exceptions whethe...",ko-en_SP_SH_ko_en_100010-2212-1-2,ko,en,False,False
62,100010-2020-1-2,기계번역 병렬 말뭉치 데이터,아 리얼? 어쩐지 광고 엄청 돌리더라,For real? That's why they have run so many ads.,ko-en_SP_CA_ko_en_100010-2020-1-2,ko,en,False,False
73,100010-2183-1-2,기계번역 병렬 말뭉치 데이터,그러게나 말이야 초기에는 코호트 격리까지 하며 엄청 심각했었지,"By the way, in the beginning it was very serio...",ko-en_SP_SH_ko_en_100010-2183-1-2,ko,en,False,False
109,100010-2219-1-2,기계번역 병렬 말뭉치 데이터,바이러스가 이렇게 무서울지 몰랐지 처음에 더블유에이치오도 헤맸고 정부도 처음엔 잘하...,I didn't know the virus could be so scary. At ...,ko-en_SP_SH_ko_en_100010-2219-1-2,ko,en,False,False
...,...,...,...,...,...,...,...,...,...
26901,100010-2125-1-2,기계번역 병렬 말뭉치 데이터,"나는 손톱은 돈 주고받아 봤는데, 발톱은 돈이 아깝더라",I have gotten my nails done at a salon. But I ...,ko-en_SP_CA_ko_en_100010-2125-1-2,ko,en,False,False
26937,100013-1261-1-12,기계번역 병렬 말뭉치 데이터,“excellence in art and storytelling through de...,"""디자인, 예술적 숙달, 몰입도가 높은 세계를 통한 예술과 스토리텔링의 독립성""",en-ko_SP_CA_en_ko_100013-1261-1-12,en,ko,False,True
26940,100010-2051-1-8,기계번역 병렬 말뭉치 데이터,그래서 여드름 패치 붙이고 있는데 솔직히 효과 있는지 잘 모르겠음,"So I'm putting on my acne patch. But honestly,...",ko-en_SP_CA_ko_en_100010-2051-1-8,ko,en,False,False
26981,100010-2231-1-6,기계번역 병렬 말뭉치 데이터,더욱더 답답하고 코가 막히지 언제 끝나려나 이 지긋지긋한 코로나야,It's even more frustrating and stuffy. When wi...,ko-en_SP_SH_ko_en_100010-2231-1-6,ko,en,False,False
26989,100010-2237-1-2,기계번역 병렬 말뭉치 데이터,정말? 저번에 검진 왔을 때 크게 이상은 없었는데 치아에 스테인이 좀 많더라,Really? The last time you came in for a checku...,ko-en_SP_SH_ko_en_100010-2237-1-2,ko,en,False,False

In [56]:
text = utterance_type_df.loc[26937,'source']

In [57]:
text

'“excellence in art and storytelling through design, artistic mastery, and highly immersive worlds.”'

In [62]:
text[-1] in set(string.punctuation + '”')

True

In [76]:
set(string.punctuation)

{'!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~'}

In [87]:
punctuation_add = '…‘’“”'

In [67]:
def has_punctuation_at_end_test(text):
    punctuation_chars = set(punctuation_add)
    return text in punctuation_chars

In [73]:
for df in dataset_list:
    print(df.Name)
    print(df.source.apply(contains_symbol).sum())

utterance_type_df
1244
specialty_df
323
ko_en_trans_df
220181
everyday_life_df
255
science_df
549
food_df
10575
contents_df
1434

In [69]:
utterance_type_df.source.apply(has_punctuation_at_end_test)

0        False
1        False
2        False
3        False
4        False
         ...
26997    False
26998    False
26999    False
27000    False
27001    False
Name: source, Length: 27000, dtype: bool

In [93]:
def contains_symbol(sentence):
    for symbol in punctuation_add:
        if symbol in sentence:
            return True
    return False

In [72]:
contains_symbol(text)

True

In [75]:
for df in dataset_list:
    print(df.Name)
    print(df.source.apply(contains_symbol).sum())

utterance_type_df
26453
specialty_df
1350000
ko_en_trans_df
1599989
everyday_life_df
2686954
science_df
1350113
food_df
1349831
contents_df
579707

In [94]:
utterance_type_df['test'] = utterance_type_df.source.apply(contains_symbol)

In [95]:
utterance_type_df[utterance_type_df.test==True]

,sn,data_set,source,target,file_name,source_language,target_language,punctuation_check,test
42,100013-615-1-10,기계번역 병렬 말뭉치 데이터,"After the caribou program’s inaugural year, re...",순록 구제 프로그램이 시작된 해 이후 연구자들은 프로젝트의 두 번째 단계로 암컷 순...,en-ko_WR_ST_en_ko_100013-615-1-10,en,ko,True,True
64,100013-296-1-1,기계번역 병렬 말뭉치 데이터,Drone observations can reveal more about shark...,"드론 관찰로 인해 상어의 움직임, 식습관, 사회적 관계, 서식지에 있는 사람들에 대...",en-ko_WR_ST_en_ko_100013-296-1-1,en,ko,True,True
67,100013-37-1-1,기계번역 병렬 말뭉치 데이터,"Among Korea’s oral traditions, “pansori,” or n...","한국의 구전 중 ""판소리""는 서사극과 민요극을 말하며 관객이 참여하는 공연이다.",en-ko_WR_CA_en_ko_100013-37-1-1,en,ko,True,True
81,100013-614-1-2,기계번역 병렬 말뭉치 데이터,so I can’t even imagine what 2008 was like for...,그렇다보니 2008년이 엄마에겐 어땠을지 상상조차 못할 것 같아.,en-ko_CH_ES_en_ko_100013-614-1-2,en,ko,True,True
91,100013-38-1-8,기계번역 병렬 말뭉치 데이터,"The next section, highlighting the success of ...","한국 드라마와 영화의 성공을 강조하는 다음 섹션에는 넷플릭스의 ""오징어 게임""의 상...",en-ko_WR_CA_en_ko_100013-38-1-8,en,ko,True,True
...,...,...,...,...,...,...,...,...,...
26963,100013-848-1-4,기계번역 병렬 말뭉치 데이터,"It requires just 5 ingredients, and they’re al...","5가지 재료만 있으면 되는데, 그것도 아마 항상 팬트리에 있을법한 것들이다.",en-ko_CH_CA_en_ko_100013-848-1-4,en,ko,True,True
26972,100013-1219-1-3,기계번역 병렬 말뭉치 데이터,It’s called the eye of the tornado or the hurr...,그것은 토네이도 또는 허리케인의 눈이라고 불립니다.,en-ko_SP_ST_en_ko_100013-1219-1-3,en,ko,True,True
26974,100013-50-1-2,기계번역 병렬 말뭉치 데이터,Two men fall into each other‘s arms on a bed.,두 남자가 침대 위에서 서로의 품에 안깁니다.,en-ko_WR_CA_en_ko_100013-50-1-2,en,ko,True,True
26982,100010-2463-1-11,기계번역 병렬 말뭉치 데이터,고급차는 물론이고 ‘첫차’ 선호도가 높은 차종에도 다양한 안전·편의사양을 끼워 넣는...,It is a trend to put various safety and conven...,ko-en_WR_ST_ko_en_100010-2463-1-11,ko,en,True,True
27001,100013-1057-1-4,기계번역 병렬 말뭉치 데이터,"I don’t have emotional support, but I’ll conti...",정서적인 지지을 받고 있지는 않지만 나는 계속 나 자신을 위해 싸울 거야.,en-ko_CH_SH_en_ko_100013-1057-1-4,en,ko,True,True

In [98]:
utterance_type_df.loc[26982,'source']

'고급차는 물론이고 ‘첫차’ 선호도가 높은 차종에도 다양한 안전·편의사양을 끼워 넣는 추세다.'

In [97]:
"’" == "'"

False

### 특수 문자 확인

In [13]:
# 특수문자 추출
import re
text = ':)bitcoin is real?'
special = re.compile(r'[^ A-Za-z0-9가-힣+]')
result = special.findall(text)
print(result)

[':', ')', '?']

In [12]:
import re
def special_check(text):
    special = re.compile(r'[^ A-Za-z0-9가-힣ㄱ-ㅎㅏ-ㅣ]') ###r'[^ A-Za-z0-9가-힣+]'
    result = special.findall(text)
    return result
def not_in_string_punctuation(text_list):
    return (set(text_list) - set(string.punctuation))

In [13]:
def special_check_df_make(df):
    special_check_df = pd.DataFrame()
    df['ko'],df['en'] = zip(*df.apply(rearrange_values, axis=1))
    special_check_df['source'] = df.ko
    df.drop(['ko', 'en'], axis=1, inplace=True) 
    
    special_check_df['check'] = special_check_df.source.apply(special_check)
    special_check_df['check2'] = special_check_df.check.apply(not_in_string_punctuation)
    special_check_df['check_count'] = special_check_df.check2.apply(len)
    return special_check_df

In [76]:
from ipypb import ipb
import time

In [135]:
# 전체 데이터 셋에서 string.punctuation(일반적인 기호)에 없는 기호 파악
sign_list_except_string_punctuation = set()
for df in ipb(dataset_list):
    print(df.Name)
    special_check_df = special_check_df_make(df)
    sign_list_except_string_punctuation = sign_list_except_string_punctuation.union(reduce(lambda x, y: set(x).union(y), special_check_df['check2']))
    time.sleep(1)

 [████████████████████████████████████████████████████████████] 7/7 [06:25<00:12, 55.05s/it]

utterance_type_df
specialty_df
ko_en_trans_df
everyday_life_df
science_df
food_df
contents_df

In [137]:
# 총 특수 문자 갯수
len(sign_list_except_string_punctuation)

4600

In [105]:
ko_en_trans_df_special_check = special_check_df_make(ko_en_trans_df)

In [106]:
ko_en_trans_df_special_check

,source,check,check2,check_count
0,흠 잡힐 만한 일은 피하는 게 좋다.,[.],{},0
1,힘 있는 직구 위주의 피칭이 빛을 발했다.,[.],{},0
2,취재진의 카메라 플래시가 쉴 새 없이 터졌다.,[.],{},0
3,모든 걸 내가 직접 준비를 하고 있다.,[.],{},0
4,연출을 맡은 박찬율 감독이 포즈를 취하고 있다.,[.],{},0
...,...,...,...,...
1602413,당시에는 경찰의 금지통보로 청와대 근처 집회가 불가능하던 시절이라 과연 경찰이 막지...,[.],{},0
1602414,양승태 대법원과 박근혜 청와대의 대표적 재판거래 의혹 사건으로 꼽히는 전국교직원노동...,"[(, ), .]",{},0
1602415,윤석열 서울중앙지검장이 19일 국정감사에 출석해 ‘적폐수사 1호’로 꼽히는 한국항공...,"[‘, ’, (, ), “, ”, .]","{’, ‘, “, ”}",4
1602416,대법원에 재상고된 지 5년이 넘도록 재판이 지연되면서 양승태 대법원장 시절 대표적인...,"[‘, ', .]",{‘},1
1602417,‘양승태 대법원'은 민사소송규칙까지 고쳐 외교부가 대법원에 의견서를 제출할 수 있게...,"[‘, ', ,, ·, .]","{‘, ·}",2

In [107]:
ko_en_trans_df_special_check.loc[1602416,'source']

"대법원에 재상고된 지 5년이 넘도록 재판이 지연되면서 양승태 대법원장 시절 대표적인 재판거래 의혹으로 꼽혀온 ‘일제 강제징용 피해자 손해배상 청구' 소송의 재상고심 판결 선고일이 30일로 정해졌다."

In [143]:
contents_df_special_check[contents_df_special_check.check_count>0]

,source,check,check2,check_count
2815,‘객관적인 사실에 입각한 진심 보도를 최선을 다해야 한다.’,"[‘, ., ’]","{’, ‘}",2
2816,"‘기사를 복사해서 붙이다, 기사를 베끼다’ 같은 말이 자연스럽지 않나?","[‘, ,, ’, ?]","{’, ‘}",2
2817,"‘기사를 쓰다, 기사를 작성하다’ 가 자연스러운 말이잖아요.","[‘, ,, ’, .]","{’, ‘}",2
2818,‘사실을 정확하고 객관적이고 공정한 보도함으로써 진실을 추구해야 한다.’,"[‘, ., ’]","{’, ‘}",2
2819,‘이대남은 왜’라는 시리즈물입니다.,"[‘, ’, .]","{’, ‘}",2
...,...,...,...,...
586355,"오페라 <<Tannhäuser> > (1845), 작곡가는 이교도 여신 비너스의 호...","[<, <, ä, >, >, (, ), ,, ,, .]",{ä},1
586594,슬라드코프스키가 지휘한 오케스트라는 <<뮤지컬 올림푸스>> <<페테르부르크 뮤지컬 ...,"[<, <, >, >, <, <, >, >, <, <, >, >, <, <, >, ...",{·},1
586690,그곳에서 그들은 '단순한 구경꾼' 로서의 견해를 가질 수 있도록 연속하여 며칠 동안...,"[', ', (, é, ), .]",{é},1
586755,이것이 자신의 아내라는 사실을 모른 세르게이는 당황하여 진짜 아내를 완전히 잊어 버린다.,"[ , .]",{ },1
586940,1958년에 유제프 흐멜니츠키(Józef Khmelnitsky) 'Mr. X'가 감...,"[(, ó, ), ', ., ', .]",{ó},1

In [148]:
"’, ‘"

'’, ‘'

In [145]:
contents_df_special_check.loc[2819,'source']

'‘이대남은 왜’라는 시리즈물입니다.'

In [140]:
test_list = reduce(lambda x, y: set(x).union(y), contents_df_special_check['check2'])

In [142]:
len(test_list)

116

In [134]:
sign_list_except_string_punctuation.union(test_list)

{'峠',
 'イ',
 '◑',
 '擺',
 '枕',
 '梏',
 '灆',
 '淳',
 '湘',
 '螺',
 '人',
 '午',
 '堡',
 '爽',
 '再',
 '霓',
 '天',
 '制',
 '彊',
 '厭',
 '旗',
 '潟',
 '⑺',
 '藪',
 '璵',
 '敾',
 '滑',
 '油',
 '潮',
 '上',
 '奭',
 '侈',
 '良',
 '鈍',
 '履',
 '漣',
 '要',
 '賻',
 '稿',
 '悔',
 '烈',
 '硏',
 '請',
 '歃',
 '冑',
 '巾',
 '趣',
 '令',
 '嘆',
 'Ω',
 '嶼',
 '斜',
 '葖',
 '｣',
 '威',
 '烏',
 '紗',
 '⑴',
 '諧',
 '喧',
 '映',
 '港',
 '險',
 '【',
 '登',
 '廬',
 '偏',
 '蕃',
 '帳',
 '職',
 '闢',
 '害',
 '弓',
 '洛',
 '遠',
 '槪',
 '璟',
 '屑',
 '薺',
 'じ',
 '泮',
 '砂',
 '飢',
 '鯤',
 '鉉',
 '鑛',
 '少',
 '許',
 '字',
 '諷',
 '化',
 '歷',
 '蘆',
 '椎',
 '\U000f0854',
 '洧',
 '≡',
 '勤',
 '論',
 '效',
 '幼',
 '棋',
 '帶',
 '垈',
 '讓',
 '邵',
 '戀',
 '瓚',
 '濕',
 '蘚',
 '館',
 '裟',
 '裵',
 '殼',
 '濠',
 '築',
 '耶',
 '․',
 '幅',
 '佑',
 '〉',
 '斑',
 '頁',
 '士',
 '旬',
 '典',
 '₃',
 '哭',
 'ü',
 'и',
 '状',
 '厨',
 '齊',
 '裳',
 '嵌',
 '胥',
 '泉',
 '裏',
 '・',
 '酋',
 '雪',
 '顧',
 '義',
 '軟',
 '駒',
 '□',
 '㎛',
 '兢',
 '嶝',
 '詩',
 '蓋',
 '呼',
 '炙',
 '÷',
 '琵',
 'н',
 '流',
 '哈',
 '膽',
 '楊',
 '蕩',
 '狷',
 '編',
 '暮',
 '莊',
 '鷺',
 '駐',
 '蔘',
 '數',
 '砲',
 '梯',
 '滕',
 '稔',
 '悳',
 '簡',
 '廟',
 '咤',
 '獐',
 '痼',
 '儉',
 '漑',
 '崛',
 '渭',
 '秦',
 '弗',
 '✕',
 'ː',
 '房',
 '妓',
 '釘',
 '晩',
 '※',
 '⌟',
 '綜',
 '鐵',
 '遝',
 '音',
 '璘',
 '雁',
 '笙',
 '寓',
 '猛',
 '氵',
 '默',
 '霜',
 '宇',
 '₁',
 '痴',
 '粒',
 '渲',
 '缶',
 '垣',
 '菱',
 '舌',
 '麓',
 '素',
 '彙',
 '撐',
 '品',
 '授',
 '适',
 '纓',
 '綿',
 '駕',
 '鋒',
 '船',
 '脚',
 '不',
 '齋',
 '陋',
 '晋',
 '套',
 '紂',
 '璜',
 '宕',
 '瑞',
 '㉱',
 '質',
 '㎖',
 '畫',
 '隷',
 '堠',
 '衰',
 '殿',
 '撫',
 '嫁',
 '州',
 '甫',
 '◆',
 '胞',
 '蹄',
 '堪',
 '貢',
 '塢',
 '喪',
 '⑱',
 '懦',
 '弧',
 '艾',
 '派',
 '痢',
 '璧',
 '移',
 '左',
 'п',
 '崙',
 '覺',
 '遇',
 '莒',
 '絿',
 '閣',
 '子',
 '器',
 '犧',
 '祺',
 '快',
 'ク',
 '茶',
 '需',
 '貴',
 '愧',
 '㙆',
 '辣',
 '藁',
 '劇',
 '院',
 '洵',
 '誼',
 '貞',
 '種',
 '蕯',
 '沽',
 '夾',
 '苧',
 '粱',
 '●',
 '梓',
 '禴',
 '諍',
 '同',
 '旱',
 '焼',
 '珍',
 '順',
 '費',
 '記',
 '落',
 '輔',
 '沆',
 '勇',
 '凱',
 'Ⅲ',
 '楸',
 '椧',
 '蒴',
 '沖',
 '瓘',
 '\U000f0853',
 '釣',
 '別',
 'ス',
 '疫',
 '觝',
 '庾',
 '簽',
 '瓊',
 '裸',
 '牧',
 '㈕',
 '瓠',
 '寄',
 '畵',
 '巳',
 '觀',
 '于',
 '瓔',
 '簇',
 '抑',
 '䃴',
 '塞',
 '象',
 '央',
 '溺',
 '丁',
 '啓',
 '霽',
 '幀',
 '往',
 '榕',
 '錢',
 '丕',
 '涀',
 '®',
 '杞',
 '胃',
 '世',
 '裝',
 '玉',
 '濬',
 '郁',
 '蓴',
 '蕭',
 '嶺',
 '硃',
 '地',
 '虔',
 '責',
 '諟',
 '藩',
 '維',
 '顯',
 '訥',
 '羡',
 '艀',
 '陳',
 '凝',
 '難',
 '矩',
 '殖',
 '纏',
 '寇',
 '儲',
 '柄',
 '竭',
 '閒',
 '洁',
 '埰',
 '訣',
 '恭',
 '彧',
 '降',
 '祧',
 '幹',
 '㉥',
 '㎦',
 '蘊',
 '珣',
 '付',
 '援',
 '龕',
 '鬪',
 '甘',
 '橤',
 '翠',
 '飜',
 '隙',
 '以',
 '泝',
 '多',
 '荒',
 '\U000f0850',
 '㎨',
 '棺',
 '肢',
 '髮',
 '％',
 '勉',
 '▤',
 '塊',
 '隣',
 '狄',
 '菅',
 '佛',
 '愍',
 '臨',
 '烟',
 '熾',
 '拿',
 '憬',
 '岩',
 '朴',
 '〜',
 '峰',
 '鵠',
 '滴',
 '辭',
 'ラ',
 '樽',
 '尼',
 '愈',
 '藥',
 '命',
 '㎚',
 '拍',
 '怒',
 '臣',
 '祭',
 '㉤',
 '芸',
 '櫃',
 '甑',
 '豚',
 '執',
 '酬',
 '溫',
 '㫌',
 '杠',
 '息',
 '養',
 '璹',
 '娟',
 '燮',
 '㈔',
 '秊',
 '誥',
 '占',
 '玫',
 '分',
 '折',
 '郎',
 '孀',
 '齌',
 '惑',
 '用',
 '猪',
 '求',
 '雩',
 '浦',
 '敍',
 '依',
 '周',
 '外',
 '爲',
 '❹',
 '氾',
 '欄',
 '櫻',
 '銅',
 '委',
 '乶',
 '斧',
 '樓',
 '騎',
 '銓',
 '塏',
 '㎈',
 '遐',
 '彎',
 '籤',
 '竝',
 '林',
 '溝',
 '民',
 '監',
 '跡',
 '贍',
 '揷',
 '金',
 '序',
 '臟',
 '被',
 'ᄃ',
 '㉣',
 '體',
 '檀',
 '淆',
 '際',
 '脇',
 '紛',
 '譯',
 '禱',
 '捐',
 '佩',
 '砬',
 '筏',
 '墻',
 '「',
 '↔',
 'ℓ',
 'ʼ',
 '銑',
 '田',
 '催',
 '淙',
 '獜',
 '奢',
 '湯',
 '冒',
 '緻',
 '鵝',
 '秘',
 '絅',
 '蠶',
 '澈',
 '杲',
 '筌',
 '徳',
 '算',
 '防',
 '舊',
 '艹',
 '搏',
 '祐',
 '壞',
 '▥',
 '華',
 '頸',
 '逃',
 '伐',
 '末',
 '棟',
 '鑑',
 '拘',
 '粮',
 '哀',
 '鵾',
 '納',
 '泣',
 '邀',
 '㈁',
 '季',
 '帥',
 '寬',
 '庭',
 '▨',
 '鯼',
 '《',
 '參',
 '殘',
 '絶',
 '㎎',
 '菱',
 '晉',
 '織',
 '屠',
 '策',
 '栱',
 '寐',
 '傅',
 '苗',
 '聞',
 '鮎',
 '兄',
 '晝',
 '悟',
 '牒',
 '彫',
 '干',
 '鵲',
 '\xad',
 '幣',
 '去',
 '嶷',
 '寫',
 '③',
 '弦',
 '奫',
 '斬',
 '輓',
 '稼',
 '住',
 'ⓡ',
 '▷',
 '凍',
 '也',
 '冰',
 '氏',
 '基',
 '槽',
 '掌',
 '徑',
 '珦',
 '赤',
 '察',
 '飼',
 '投',
 '蒜',
 '鷗',
 '－',
 '銀',
 '祀',
 '剝',
 '溜',
 '受',
 '︎',
 '裁',
 '尾',
 '癸',
 '歡',
 '㈑',
 '褐',
 '勝',
 '割',
 '莪',
 '淸',
 '仝',
 '圓',
 '讐',
 '幡',
 '妃',
 '龜',
 '二',
 '武',
 'Ⅰ',
 '鍵',
 '鷄',
 '箋',
 '禹',
 '函',
 '陈',
 '村',
 '霹',
 '相',
 '霞',
 '迪',
 '『',
 '舜',
 '敏',
 '瑩',
 '曜',
 '衡',
 '嶽',
 '奠',
 '尤',
 '敗',
 '類',
 '芦',
 'ワ',
 '層',
 '迦',
 '程',
 '睛',
 '∠',
 '身',
 '謙',
 '粗',
 '雄',
 '榥',
 '繡',
 '凰',
 '沈',
 '百',
 '塾',
 '庫',
 '琓',
 '頑',
 '廢',
 '洪',
 '虎',
 '栽',
 '綠',
 '修',
 '將',
 '齒',
 '蓼',
 '伏',
 '槻',
 '聳',
 '老',
 '鄕',
 '綸',
 'θ',
 '暑',
 '禦',
 '碾',
 '籍',
 '創',
 '蟄',
 '旨',
 '滔',
 '渠',
 '縱',
 '㉲',
 '顎',
 '腺',
 '沁',
 '而',
 '潭',
 '補',
 '璿',
 '醉',
 '鄭',
 '↑',
 '藫',
 '肇',
 '曮',
 '送',
 '生',
 '乳',
 '稜',
 '偕',
 '泊',
 '鱖',
 '坦',
 '豐',
 '弊',
 '倬',
 '葉',
 '沒',
 '待',
 '罪',
 '垕',
 '處',
 '習',
 '禍',
 '濁',
 '般',
 '陽',
 '談',
 '暄',
 '楞',
 '囿',
 '伸',
 '⑮',
 '億',
 'Ⅴ',
 '進',
 '鴈',
 '耆',
 '黄',
 '₄',
 '賊',
 '婚',
 '屛',
 '黨',
 '惰',
 '施',
 '灌',
 '緬',
 '幢',
 '観',
 '湊',
 '²',
 'プ',
 '析',
 '歲',
 '倒',
 '門',
 '耕',
 '℃',
 '宝',
 '共',
 '蝦',
 '借',
 '圻',
 '倭',
 '頒',
 '挰',
 '毛',
 '扉',
 '灸',
 '皆',
 '薰',
 '窟',
 '畯',
 '甕',
 '鐸',
 '未',
 '撞',
 '㎢',
 '苯',
 'δ',
 '可',
 '勃',
 '仰',
 '桂',
 '盟',
 '吹',
 '蛟',
 '蝟',
 '避',
 '葕',
 '祖',
 '艸',
 '濩',
 '材',
 '淺',
 '故',
 '㎐',
 '列',
 '樞',
 '蜂',
 '沂',
 '棘',
 '崇',
 '禁',
 '俸',
 '蓍',
 '邯',
 '見',
 '胤',
 '嚴',
 '跆',
 '煙',
 '馮',
 '顥',
 '鋪',
 '嶋',
 '敬',
 '狐',
 '佰',
 '濂',
 '破',
 '交',
 'ル',
 '茸',
 '藜',
 '識',
 '陂',
 '負',
 '昰',
 '凸',
 'á',
 '董',
 '禽',
 '璋',
 '竿',
 '亢',
 '≪',
 '盒',
 '烘',
 '❶',
 '俗',
 '鋐',
 '瑍',
 '須',
 '布',
 '面',
 '副',
 '漁',
 '翼',
 '谿',
 '棣',
 '辰',
 '楙',
 '色',
 '邦',
 '汗',
 '墅',
 '諄',
 '祝',
 '諫',
 '才',
 '殊',
 '押',
 '涌',
 '浥',
 '踊',
 '僉',
 '結',
 '服',
 '籃',
 '鰍',
 '踰',
 '願',
 '㉵',
 '照',
 '浚',
 '圃',
 '愛',
 '班',
 '洙',
 '述',
 '源',
 '琮',
 '黎',
 '玏',
 '偉',
 '艮',
 '約',
 '紫',
 '缺',
 '括',
 '丞',
 '欽',
 '㈓',
 '稱',
 '摫',
 '莎',
 '爺',
 '擾',
 '徒',
 '萊',
 '姑',
 '滄',
 '頭',
 '瞻',
 '忠',
 '菩',
 '撑',
 'ⅱ',
 '鈕',
 '¹',
 '皓',
 '僖',
 '疏',
 '註',
 '充',
 '位',
 '肩',
 '馩',
 '馹',
 '會',
 '渫',
 '垠',
 '守',
 '稚',
 '滅',
 '性',
 '罰',
 '刹',
 '鬼',
 '由',
 '⟶',
 '廡',
 '孚',
 '菓',
 '李',
 '準',
 '部',
 '敞',
 '電',
 '②',
 '栖',
 '瀛',
 '誾',
 '議',
 '眉',
 '煉',
 '潗',
 '顚',
 '終',
 '貫',
 '暾',
 '耐',
 '勿',
 '頂',
 '寗',
 '合',
 '若',
 '髓',
 '韩',
 '平',
 '赳',
 '臭',
 '曲',
 '湫',
 '：',
 '食',
 '胖',
 ...}

In [125]:
sign_list_except_string_punctuation = []

In [126]:
sign_list_except_string_punctuation.append(test_list)

In [129]:
len(test_list)

3603

In [75]:
utterance_type_df_special_check.loc[26878,'source']

'신한은행 앱 ‘쏠’에서 주요 통화에 대해 최대 90퍼센트 환율우대를 적용받을 수 있다.'

In [14]:
result[0] == ':'

True

In [87]:
test = pd.DataFrame({'source' : [':)bitcoin is real?', '난 ? 밥을 먹었어.','외국인이 나에게 "Hello!!"라고 말했어.','''난 외국인에게 "I'm 29 years old"라고 말했어.''','밥 먹었어','고급차는 물론이고 ‘첫차’ 선호도가 높은 차종에도 다양한 안전·편의사양을 끼워 넣는 추세다.', 'ㅇㅇ 난 밥 먹었지 ㅋ']})

In [88]:
test['check'] = test.source.apply(special_check)
test['check2'] = test.check.apply(not_in_string_punctuation)
test['check_count'] = test.check2.apply(len)

In [89]:
test

,source,check,check2,check_count
0,:)bitcoin is real?,"[:, ), ?]",{},0
1,난 ? 밥을 먹었어.,"[?, .]",{},0
2,"외국인이 나에게 ""Hello!!""라고 말했어.","["", !, !, "", .]",{},0
3,"난 외국인에게 ""I'm 29 years old""라고 말했어.","["", ', "", .]",{},0
4,밥 먹었어,[],{},0
5,고급차는 물론이고 ‘첫차’ 선호도가 높은 차종에도 다양한 안전·편의사양을 끼워 넣는...,"[‘, ’, ·, .]","{·, ’, ‘}",3
6,ㅇㅇ 난 밥 먹었지 ㅋ,[],{},0

In [101]:
# 값이 리스트 일 때, 한 행에 대해 합집합하는 코드
reduce(lambda x, y: set(x).union(y), test['check'])

{'!', '"', "'", ')', '.', ':', '?', '·', '‘', '’'}

In [100]:
import pandas as pd
from functools import reduce

# Example DataFrame with a column containing lists
data = {
    "list_column": [
        [1, 2, 3],
        [2, 3, 4],
        [3, 4, 5],
        [4, 5, 6]
    ]
}
df = pd.DataFrame(data)

# Find the union of all values in the lists
result_union = reduce(lambda x, y: set(x).union(y), df['list_column'])

print(list(result_union))

[1, 2, 3, 4, 5, 6]

In [70]:
test[test.check_count!=0]

,source,check,check2,check_count
5,고급차는 물론이고 ‘첫차’ 선호도가 높은 차종에도 다양한 안전·편의사양을 끼워 넣는...,"[‘, ’, ·, .]","[·, ’, ‘]",3

In [45]:
test.source[5]

'고급차는 물론이고 ‘첫차’ 선호도가 높은 차종에도 다양한 안전·편의사양을 끼워 넣는 추세다.'

In [146]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

### test

In [102]:
ko_en_trans_df['ko'],ko_en_trans_df['en'] = zip(*ko_en_trans_df.apply(rearrange_values, axis=1))

In [103]:
test = pd.DataFrame()
test['source'] = ko_en_trans_df['ko']
ko_en_trans_df.drop(['ko', 'en'], axis=1, inplace=True)

In [63]:
replacements = {'\u201C': '\"',
               '\u201D': '\"',
               '\u2018': '\'',
               '\u2019': '\''}
for old, new in replacements.items():
    test['source'] = test['source'].str.replace(old, new)

In [104]:
test

                                                    source
0                                     흠 잡힐 만한 일은 피하는 게 좋다.
1                                  힘 있는 직구 위주의 피칭이 빛을 발했다.
2                                취재진의 카메라 플래시가 쉴 새 없이 터졌다.
3                                    모든 걸 내가 직접 준비를 하고 있다.
4                               연출을 맡은 박찬율 감독이 포즈를 취하고 있다.
...                                                    ...
1602413  당시에는 경찰의 금지통보로 청와대 근처 집회가 불가능하던 시절이라 과연 경찰이 막지...
1602414  양승태 대법원과 박근혜 청와대의 대표적 재판거래 의혹 사건으로 꼽히는 전국교직원노동...
1602415  윤석열 서울중앙지검장이 19일 국정감사에 출석해 ‘적폐수사 1호’로 꼽히는 한국항공...
1602416  대법원에 재상고된 지 5년이 넘도록 재판이 지연되면서 양승태 대법원장 시절 대표적인...
1602417  ‘양승태 대법원'은 민사소송규칙까지 고쳐 외교부가 대법원에 의견서를 제출할 수 있게...

[1602418 rows x 1 columns]

In [93]:
test.loc[162,'source']

'신하영 연구위원은 “민법을 개정해도 가족 개념이 충돌하는 지점이 발생하므로, 법에서 일관되게 실현할 수 있을지 고민하는 장이 열릴 것으로 본다”고 밝혔다.'

In [66]:
test.loc[308,'source']

"올해 대세로 떠오른 휴가 유형인 '스테이케이션'도 언택트를 기본으로 한다."

In [69]:
"'" == "\'"

True

In [81]:
contents_df_special_check = special_check_df_make(contents_df)

In [86]:
contents_df_special_check[contents_df_special_check.check_count==2]

In [9]:
# utterance_type_df

In [ ]:
# 구두점 test

In [20]:
text = '''점심 먹었어ㅋㅋ'''

In [13]:
import string
def has_punctuation_at_end(sentence):
    return sentence[-1] in string.punctuation

In [14]:
has_punctuation_at_end(text)

True

In [15]:
def has_punctuation_at_end(sentence):
    pattern = r'[{}]$'.format(re.escape(string.punctuation))
    return bool(re.search(pattern, sentence))

# Test sentences
sentences = ["Hello, how are you?", "This is a test", "No punctuation"]

for sentence in sentences:
    if has_punctuation_at_end(sentence):
        print(f"'{sentence}' has punctuation at the end.")
    else:
        print(f"'{sentence}' does not have punctuation at the end.")

'Hello, how are you?' has punctuation at the end.
'This is a test' does not have punctuation at the end.
'No punctuation' does not have punctuation at the end.

In [16]:
def has_punctuation_at_end(sentence):
    pattern = r'[^ A-Za-z0-9가-힣ㄱ-ㅎㅏ-ㅣ]$'
    return bool(re.search(pattern, sentence))

In [21]:
has_punctuation_at_end(text)

False

In [22]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
test_df = punctuation_check_df(utterance_type_df)

In [11]:
test_df

,sentence,punctuation_check,punctuation,last_letter
0,그래서 차라리 원인을 없애야겠다 싶어서 탈퇴하고 앱도 지웠어요.,True,.,.
1,일을 해야 돈을 벌고 그래야 생활할 수 있는데.,True,.,.
2,우리 모두는 정말 좋은 대화를 나누었습니다.,True,.,.
3,안 그래도 요즘 큐티클층이 많이 손상됐는지 머리가 부스스했는데 잘 됐다.,True,.,.
4,아마도 출시가 가까워지면 할 것 같습니다.,True,.,.
...,...,...,...,...
26995,또한 오는 12월까지 계약 또는 출고 고객을 대상으로 추첨을 통해 추가 증정하는 경...,True,.,.
26996,음식 조절하고 운동하면 콜레스테롤이랑 엘디엘 수치가 내려갈까요?,True,?,?
26997,딸애는 엠비티아이 검사할 때 항상 같은 것만 나온다고 하더라고.,True,.,.
26998,살면서 사람들에게 화를 냈을 때의 구체적인 결과를 나열해보아라.,True,.,.
26999,정서적인 지지을 받고 있지는 않지만 나는 계속 나 자신을 위해 싸울 거야.,True,.,.

In [72]:
(test_df.punctuation_check == True).sum()

25509

In [59]:
test_df.punctuation_check.sum()

25509

In [61]:
data = test_df[test_df.punctuation_check==True]

In [62]:
data

,sentence,punctuation_check,punctuation,last_letter
0,그래서 차라리 원인을 없애야겠다 싶어서 탈퇴하고 앱도 지웠어요.,True,.,.
1,일을 해야 돈을 벌고 그래야 생활할 수 있는데.,True,.,.
2,우리 모두는 정말 좋은 대화를 나누었습니다.,True,.,.
3,안 그래도 요즘 큐티클층이 많이 손상됐는지 머리가 부스스했는데 잘 됐다.,True,.,.
4,아마도 출시가 가까워지면 할 것 같습니다.,True,.,.
...,...,...,...,...
26995,또한 오는 12월까지 계약 또는 출고 고객을 대상으로 추첨을 통해 추가 증정하는 경...,True,.,.
26996,음식 조절하고 운동하면 콜레스테롤이랑 엘디엘 수치가 내려갈까요?,True,?,?
26997,딸애는 엠비티아이 검사할 때 항상 같은 것만 나온다고 하더라고.,True,.,.
26998,살면서 사람들에게 화를 냈을 때의 구체적인 결과를 나열해보아라.,True,.,.
26999,정서적인 지지을 받고 있지는 않지만 나는 계속 나 자신을 위해 싸울 거야.,True,.,.

In [71]:
test_df.punctuation.value_counts()

.    22877
?     2373
!      231
"       10
)        9
,        5
'        1
;        1
/        1
~        1
Name: punctuation, dtype: int64

In [41]:
test_df.loc[18,:]

sentence             친구와 저녁 먹으러 왔고, 우리 둘다 파스타 팬이다.
punctuation_check                             False
punctuation                                    None
last_letter
Name: 18, dtype: object

In [42]:
'.' == '.'

True

In [45]:
'.' in string.punctuation

True

In [55]:
'apple.    '.rstrip(' ')

'apple.'

In [30]:
test_check = test_df.punctuation.value_counts(dropna=False).to_frame()

In [31]:
test_check

      punctuation
.           22877
?            2373
None         1491
!             231
"              10
)               9
,               5
'               1
;               1
/               1
~               1

In [32]:
# test_check = test_df.punctuation.value_counts(dropna=False).to_frame()
test_check.reset_index(inplace=True)
test_check.rename(columns={'index':'punctuation_mark','punctuation':'count'},inplace=True)
test_check['dataset_name'] = utterance_type_df.Name

In [33]:
test_check

   punctuation_mark  count       dataset_name
0                 .  22877  utterance_type_df
1                 ?   2373  utterance_type_df
2              None   1491  utterance_type_df
3                 !    231  utterance_type_df
4                 "     10  utterance_type_df
5                 )      9  utterance_type_df
6                 ,      5  utterance_type_df
7                 '      1  utterance_type_df
8                 ;      1  utterance_type_df
9                 /      1  utterance_type_df
10                ~      1  utterance_type_df

In [46]:
punctuation_table

   punctuation_mark  count       dataset_name
0                 .  22877  utterance_type_df
1                 ?   2373  utterance_type_df
2              None   1491  utterance_type_df
3                 !    231  utterance_type_df
4                 "     10  utterance_type_df
..              ...    ...                ...
12                /     10        contents_df
13                -      7        contents_df
14                `      2        contents_df
15                \      1        contents_df
16                :      1        contents_df

[92 rows x 3 columns]

In [48]:
punctuation_table[punctuation_table.punctuation_mark==None]

Empty DataFrame
Columns: [punctuation_mark, count, dataset_name]
Index: []

In [50]:
punctuation_table[punctuation_table.punctuation_mark.isna()]

  punctuation_mark  count       dataset_name
2             None   1491  utterance_type_df
2             None   3564     ko_en_trans_df
3             None  17101   everyday_life_df
3             None    159         science_df
3             None    151            food_df
2             None   8082        contents_df

In [54]:
punctuation_table.dataset_name.value_counts()

everyday_life_df     20
contents_df          17
science_df           14
food_df              12
utterance_type_df    11
ko_en_trans_df       11
specialty_df          7
Name: dataset_name, dtype: int64

In [55]:
punctuation_table[punctuation_table.dataset_name=='everyday_life_df']

   punctuation_mark    count      dataset_name
0                 .  2325974  everyday_life_df
1                 ?   296048  everyday_life_df
2                 !    47833  everyday_life_df
3              None    17101  everyday_life_df
4                 ~    12151  everyday_life_df
5                 ,      725  everyday_life_df
6                 )      263  everyday_life_df
7                 "      146  everyday_life_df
8                 '       44  everyday_life_df
9                 \       13  everyday_life_df
10                /       12  everyday_life_df
11                ]        8  everyday_life_df
12                :        7  everyday_life_df
13                -        5  everyday_life_df
14                ;        4  everyday_life_df
15                *        3  everyday_life_df
16                >        3  everyday_life_df
17                ^        3  everyday_life_df
18                [        1  everyday_life_df
19                `        1  everyday_life_df

In [74]:
punctuation_table.groupby('punctuation_mark')['count'].sum().sort_values(ascending=False)

punctuation_mark
.    8400271
?     447519
!      54109
)      17851
~      12538
,       2271
"       1012
'        613
;        100
]         49
>         38
/         23
:         20
-         16
\         15
*          4
`          4
^          3
%          2
|          2
[          1
Name: count, dtype: int64

In [67]:
punctuation_table[punctuation_table.punctuation_mark=='!']['count'].sum()

54109

In [75]:
punctuation_table['count'].sum()

8967009

In [77]:
punctuation_table[punctuation_table.punctuation_mark.isna()]['count'].sum()

30548

In [78]:
punctuation_table[punctuation_table.punctuation_mark.isna()]

  punctuation_mark  count       dataset_name
2             None   1491  utterance_type_df
2             None   3564     ko_en_trans_df
3             None  17101   everyday_life_df
3             None    159         science_df
3             None    151            food_df
2             None   8082        contents_df

In [17]:
punctuation_table

   punctuation_mark  count       dataset_name
0                 .  22877  utterance_type_df
1                 ?   2373  utterance_type_df
2              None   1491  utterance_type_df
3                 !    231  utterance_type_df
4                 "     10  utterance_type_df
..              ...    ...                ...
12                /     10        contents_df
13                -      7        contents_df
14                `      2        contents_df
15                \      1        contents_df
16                :      1        contents_df

[92 rows x 3 columns]

In [27]:
table = punctuation_table.groupby('punctuation_mark')['count'].sum().sort_values(ascending=False).to_frame()
table.reset_index(inplace=True)
table.rename(columns={'punctuation_mark':'mark'},inplace=True)

In [28]:
table

   mark    count
0     .  8400271
1     ?   447519
2     !    54109
3     )    17851
4     ~    12538
5     ,     2271
6     "     1012
7     '      613
8     ;      100
9     ]       49
10    >       38
11    /       23
12    :       20
13    -       16
14    \       15
15    *        4
16    `        4
17    ^        3
18    %        2
19    |        2
20    [        1

In [29]:
sub_table = pd.DataFrame({'mark':['총데이터수','None'],'count':[8967009,30548]})

In [31]:
final_table = pd.concat([sub_table,table])

In [32]:
final_table

     mark    count
0   총데이터수  8967009
1    None    30548
0       .  8400271
1       ?   447519
2       !    54109
3       )    17851
4       ~    12538
5       ,     2271
6       "     1012
7       '      613
8       ;      100
9       ]       49
10      >       38
11      /       23
12      :       20
13      -       16
14      \       15
15      *        4
16      `        4
17      ^        3
18      %        2
19      |        2
20      [        1